[2013-05-27 10:07] alloy opened #1 "Authentication"
‘the client’ = e.g. the CocoaPods CLI tool.
- The API should require user authentication.
- The client will have to be able to sign a user up through the API. The handle should be her/his email address.
- The client will have to store the credentials on disk. Obviously it should be somewhat safe, so maybe generating a unique API token via a ‘sign in’ request is the best way to do it, or maybe we c

[2013-05-27 10:08] alloy opened #2 "Authorization"
The details of this can be found in the [requirements document](https://github.com/CocoaPods/push.cocoapods.org/blob/master/design/requirements.txt#L22...L25).

[2013-08-12 13:00] alloy opened #5 "Order log messages by `created_at`."
See for example: https://cocoapods-trunk-service.herokuapp.com/manage/jobs/15.

[2013-08-12 13:30] fabiopelosin opened #6 "Failure comment"
If a build fails on Travis the application should comment providing a reason if possible and a link to the build. The comment could also include common instructions that would guide the user in the design of the specification.

[2013-08-18 14:16] #5 closed, assigned to nobody

[2013-12-01 15:32] fabiopelosin opened #7 "Use GitHub content API"
I'm not familiar with the reasons for the current implementation, but there are a couple of endpoints for the GitHub API (new to me) which might simplify the logic:
- [Create a file](http://developer.github.com/v3/repos/contents/#create-a-file)
- [Update a file](http://developer.github.com/v3/repos/contents/#update-a-file)

[2013-12-04 14:36] alloy opened #8 "Add specs to subdir."
https://github.com/CocoaPods/Specs/tree/yaml_podspecs

[2013-12-04 14:39] fabiopelosin opened #9 "Improve the view of the email confirmation link"
@orta could have some ideas about this. Also an user friendly message should indicate that the account has been confirmed.

[2013-12-04 14:45] fabiopelosin opened #10 "Administrators should have the ability to add and remove contributors to a Pod"
##### What

Administrator should have the ability to add and remove contributors to a given Pod.
##### How

Via a dedicated view located in `manage/accounts`. This view should allow to add and remove any email associated with a Pod.
##### Why
- An author of a library could contact the maintainers relinquishing control from another user.
- The author of a library could become unresponsive.
##

PS:

[2013-12-04 14:45] alloy opened #11 "To include or not to include the token in the ‘confirmed’ result?"
If someone intercepts an email, they can currently confirm the token and see what the token is.

[2013-12-07 01:30] #7 closed, assigned to nobody

[2013-12-07 13:47] #8 closed, assigned to nobody

[2013-12-07 13:48] #6 closed, assigned to nobody

[2013-12-07 15:31] #1 closed, assigned to Manfred

[2013-12-07 15:32] #2 closed, assigned to Manfred

[2013-12-10 13:10] alloy opened #12 "Which cases should be allowed to create PRs for on the spec repo?"
**New pod specs** will always go through the trunk app, which then commits it to the git spec repo, but in which cases will we allow PRs on the repo and how do we sync those back to the trunk app?

_Note that it is not the trunk app’s responsibility to know all of the data of a spec, just the attributes that are relevant to its function of providing a central DB of published specs and their owners

[2013-12-11 16:13] alloy opened #13 "Re-serialize YAML specs so that they are filtered of any comments and aliases."

[2014-02-05 15:52] alloy opened #14 "Transitional ‘claim pod’ phase."
When we introduce the trunk service, we will need to have a transitional period where we setup the ‘owners’ of pods that are currently already published.

This period should be long enough for people to be able to dispute false claims, so probably at least a week, but we won’t communicate that explicitly, instead we’ll only say it’s based on the number of disputes.
- [x] @orta will create static H

[2014-02-16 16:14] alloy opened #17 "Return 500 to our client if pushing to github fails."

[2014-02-16 16:35] alloy opened #18 "Associate Owner to LogMessage when trying to push to github."
Currently we only log their name and email in the log message, which makes it harder to later find all logs associated to the owner.

[2014-02-16 16:36] alloy opened #19 "Log duration of pushing to github."

[2014-02-16 16:37] alloy opened #20 "[Manage] Add way to manually fetch commit from spec repo."
E.g. a form field that takes a commit aha, which is then fetched and updates our local DB.

[2014-02-16 16:39] alloy opened #21 "[Hooks] Verify commit data in the DB integrity."
Check ‘add’ commits to see if we have that commit in the DB, as should be the case, or log an error and create it otherwise.

[2014-02-16 16:41] alloy opened #22 "[Hooks] Always associate a committer with the Commit."
- [ ] The ‘merge commit’ should be ignored. There doesn’t seem to be a wa y to get this from the payload, so we should probably just have a rule, known to @Keithbsmiley and other admins, which is that updates may only be made with a merge commit (such as a PR), so that we can ignore the last commit in the list.
- [x] Usually updates will be done by one of the registered owners of a Pod, so in this

[2014-02-16 16:42] #13 closed, assigned to nobody

[2014-02-16 17:02] floere opened #23 "[Commit] SHA cannot be null."
Put a hard DB-level constraint in place so that SHA cannot be null.

[2014-02-16 17:15] #23 closed, assigned to nobody

[2014-02-16 17:34] #18 closed, assigned to floere

[2014-02-16 20:20] #17 closed, assigned to nobody

[2014-02-16 20:32] #19 closed, assigned to nobody

[2014-02-16 22:25] floere opened #24 "[Commit] SHA should be unique."

[2014-02-17 10:41] alloy opened #25 "[API] Ensure uncatched exceptions render a 500 response with JSON error data, not HTML."

[2014-02-19 14:47] floere opened #26 "Various improvements hidden in commit comments"
All are notes by @alloy
- [x] https://github.com/CocoaPods/trunk.cocoapods.org/commit/77c409e8694b99a9e697ff8a5d901d6f59156fd6#commitcomment-5394725
- [x] https://github.com/CocoaPods/trunk.cocoapods.org/commit/2141d7ec59998cba84779918af9d01e5786516e7#commitcomment-5395002
- [x] https://github.com/CocoaPods/trunk.cocoapods.org/commit/2141d7ec59998cba84779918af9d01e5786516e7#commitcomment-5395314

[2014-02-19 16:24] #24 closed, assigned to nobody

[2014-02-19 16:32] #25 closed, assigned to nobody

[2014-02-20 15:39] #11 closed, assigned to nobody

[2014-02-20 16:38] alloy opened #27 "[GitHub] Add timeout to creating a new commit."

[2014-02-20 17:14] #26 closed, assigned to nobody

[2014-03-01 15:52] #27 closed, assigned to nobody

[2014-03-02 21:29] #21 closed, assigned to nobody

[2014-03-03 11:36] alloy opened #28 "Remove verification token from session after verifying."
For two reasons:
- Nulling the verification token is a simple protection mechanism.
- These are short and so much more limited. As these need to be unique, they need to be cleaned up sooner than normal tokens anyways.

[2014-03-08 00:47] #28 closed, assigned to nobody

[2014-04-01 11:12] floere opened #29 "Bootstrap the DB from Github"
Currently, only new commits are added to the trunk DB.

We need to add existing commits from Github to bootstrap the production DB.
- [x] Start with the first commit.
- [x] Use the existing commit handling code and go through the commits.

Update:
- [x] Use the right podspec loading mechanism (Ruby/JSON) - use: `Specification.from_file`.
- [ ] Design the code such that it can be run repeatedly wit

[2014-04-08 19:20] alloy opened #30 ":broken_heart: (SSL heartbleed)"
We need to have SSL certs renewed before we go live: https://status.heroku.com/incidents/606.

Will need to figure out what and how it needs to happen.

/cc @orta

[2014-04-09 10:35] fabiopelosin opened #32 "Move TODO to issues"

[2014-04-09 10:42] alloy opened #33 "Review specs that still cause deprecation warnings."
This is the list of warnings thrown during import of the full history, but it probably contains specs that have been updated/fixed in HEAD, in which case those can be ignored.

@Keithbsmiley @irrationalfab Did you guys do a recent look at the `post_install` ones?

[code]

[2014-04-09 15:15] fabiopelosin opened #35 "Move TrunkApp::RequestLogger and TrunkApp::App"
They are currently in the `app_controller.rb` I think that they should have a dedicated file.

[2014-04-12 12:07] alloy opened #36 "[Manage] Add way to browse git commits and the affected pods/versions"
This will probably be handy when dealing with claim disputes. In the manage UI I imagine:
- a simple list of commits like we have for other types and link to related PodVersions from commits/show.
- a search field where a SHA can be entered to quickly go there
- link to related commits from a pod_versions/show

Since it’s only really handy for admins, I hink we can get away with just querying the

[2014-04-12 12:08] #29 closed, assigned to nobody

[2014-04-12 12:15] #35 closed, assigned to nobody

[2014-04-12 14:34] alloy opened #37 "Submit peiji-san changes upstream once it's all working well."
Currently the view helper doesn't remove the existing `page` param before passing to `url_for`.

https://github.com/alloy/peiji-san

[2014-04-13 18:29] orta opened #38 "Updated documentation in guides to reflect using trunk"

[2014-04-13 19:43] alloy opened #39 "API docs"
http://docs.trunkcocoapodsorg.apiary.io

/cc @kylef

[2014-04-13 20:19] #14 closed, assigned to nobody

[2014-04-13 21:29] alloy opened #40 "Ensure committers are created with name as well during import."

[2014-04-14 09:48] alloy opened #41 "[Manage] Add owners to pods"

[2014-04-14 09:50] alloy opened #42 "[Manage] Merge owner accounts"
I.e. accounts with old/other email addresses were made during import of the spec repo.

This should move all associated data to the new owner record and then remove the old one.

[2014-04-19 10:07] #9 closed, assigned to nobody

[2014-04-19 10:59] alloy opened #43 "Manually test before launch"
### HooksController
- [x] Merge PR that updates specs.
- [x] Merge PR that adds specs.
- [x] Merge PR that has commits by an unknown committer.
- [x] Ensure we only try to handle only commits to the master branch.

[2014-04-20 15:35] #40 closed, assigned to nobody

[2014-04-20 15:37] alloy opened #44 "[Hooks] Ignore merge commits."
A merge commit has two parents.

[2014-04-20 15:37] #22 closed, assigned to nobody

[2014-04-20 15:38] alloy opened #45 "[Hooks] Handle network request failures."
See https://github.com/CocoaPods/trunk.cocoapods.org/blob/master/app/models/commit/import.rb#L14.

This is how I abstract details of retrieving http statuses or raised exceptions when interacting with GitHub: https://github.com/CocoaPods/trunk.cocoapods.org/blob/master/app/models/github.rb#L54-L68. But having the response wrapper is mostly handy because we pass that object back to the caller
I thi

[2014-04-21 09:31] alloy opened #46 "[Hooks] What to do with deleted specs?"

[2014-04-21 16:35] alloy opened #47 "[seeds] Finish list of initial Owners"
To all CP members, please specify name and email address that you would normall use to push to GitHub.

[2014-04-22 08:33] alloy opened #48 "[NewRelic] Properly configure all alert levels."
http://docs.newrelic.com/docs/alert-policies/alerting-in-new-relic

[2014-04-22 08:36] alloy opened #49 "[Importer] Ignore merge commits."
See #44.

[2014-04-22 08:36] #44 closed, assigned to nobody

[2014-04-22 09:38] alloy opened #50 "[Webhooks] The Trunk app and other CocoaPods web-services."
As we don’t want to make the launch process even harder, we’re not adding real web-hooks soon, at least not before the launch. So to communicate that new data (new pod or version) is available, we will share the Trunk DB, but start to abstract away details as soon as possible.

We do however _have_ to send some form of web-hook from Trunk to the other web-services, because if we continue to keep u

[2014-04-30 17:32] alloy opened #51 "Ensure the cocoapods-trunk plugin is up-to-date"
@kylef Any status updates on this?

[2014-04-30 19:31] alloy opened #52 "Immediately mark the OpenSSL pod as being owned."
The owner will be @FredericJacobs. For more info see: https://github.com/CocoaPods/Specs/commit/5cd69c8267efd04de833f878bae5ac659442eacf

[2014-05-02 18:35] #45 closed, assigned to segiddins

[2014-05-04 12:10] #52 closed, assigned to nobody

[2014-05-04 12:11] #47 closed, assigned to nobody

[2014-05-04 13:59] alloy opened #54 "Ensure the SCRIPT_NAME is set according to its mount point in tests."
So that we accurately test the resulting URLs generated.

[2014-05-13 12:28] kylef opened #55 "Remove deprecated post_install hooks from the master repository"
If it's possible, remove the hook or make it work with prepare_command. Otherwise add a post_install hook stating that the spec is broken (if it would be broken without the post_install) hook.

Re #33

[2014-05-13 13:07] #33 closed, assigned to orta

[2014-05-16 08:42] alloy opened #56 "Add IP and optional description to sessions."
When creating a session, the IP should always be stored and an optional description might be provided. E.g. “work mac”.

[2014-05-16 22:21] floere opened #57 "Improve "not allowed" error message."
[code]

Some explanation could be helpful here and steps to fix (if appropriate).

[2014-05-17 10:56] #56 closed, assigned to nobody

[2014-05-17 12:31] alloy opened #58 "When merging PRs, we MUST ensure the author has a verifiable email domain!!"

[2014-05-17 13:02] alloy opened #59 "When we get a 4xx from GitHub we need to ensure we get notifications about those!"

[2014-05-17 13:26] #43 closed, assigned to alloy

[2014-05-17 13:28] alloy opened #60 "Update/add/fix tests for hooks/import"
I just adhoc fixed some stuff which need updated/added/fixed tests.

[2014-05-17 13:32] #30 closed, assigned to orta

[2014-05-17 13:34] #51 closed, assigned to kylef

[2014-05-17 16:38] alloy opened #61 "We need error pages."
This is especially true for verification links for sessions that have already been verified. After verifying they will lead to 404.

@orta Do we already have something for this?

[2014-05-17 16:43] alloy opened #62 "[manage] Commits should be shown in DESC order."
Latest commits first.

[2014-05-17 16:49] kattrali opened #63 "Attempting to claim a pod which I have already claimed allows filing a dispute with myself"
We should probably say "You have already claimed that pod" or some such if the email/name matches the registered owner.

[2014-05-17 17:03] #62 closed, assigned to nobody

[2014-05-19 09:01] kylef opened #64 "Verify dependencies are met when validating a submitted pod"
People shouldn't be able to submit a pod we don't know about. Such as a pod that depends on a private pod. It will pass linting locally because I might have the private repo.

[2014-05-19 09:01] orta opened #65 "Show linter errors with pod trunk push"
[code]

[2014-05-19 09:04] orta opened #66 "Handle accidental input better e.g. folders"
[code]

   CocoaPods : 0.32.1
        Ruby : ruby 2.0.0p247 (2013-06-27 revision 41674) [x86_64-darwin13.0.0]
    RubyGems : 2.0.6
        Host : Mac OS X 10.9.3 (13D65)
       Xcode : 5.1.1 (5B1008)
Ruby lib dir : /Users/orta/.rvm/rubies/ruby-2.0.0-p247/lib
Repositories : master - https://github.com/CocoaPods/Specs.git @ 862d75140d72687c6931e1570e22954148c7e2f2

[code]

Errno::EISDIR - Is a direc

[2014-05-19 09:05] #66 closed, assigned to nobody

[2014-05-19 09:06] #65 closed, assigned to nobody

[2014-05-19 09:45] alloy opened #67 "Opening expired registration validation page leads to 404"
@AliSoftware:

[2014-05-19 10:28] #48 closed, assigned to nobody

[2014-05-19 12:53] floere opened #68 "[Admin] Manage pages are broken."
Both CSS and JS need to be loaded correctly. See https://trunk.cocoapods.org/manage/pods for more details.

[2014-05-19 15:14] #68 closed, assigned to orta

[2014-05-19 19:24] #55 closed, assigned to nobody

[2014-05-19 21:52] floere opened #69 "[Manage] Fix removing owners."
The buttons on https://trunk.cocoapods.org/manage/pods don't work anymore (JS code not running at all or at the right time?).

[2014-05-19 21:55] #69 closed, assigned to nobody

[2014-05-19 22:04] floere opened #70 "[Pod] A Pod cannot have no owner."
The last owner of a pod cannot be removed.

[2014-05-19 22:17] fabiopelosin opened #71 "Mass updates to the specs repo"
Now that we have the JSON format we can mass update the specs repo to tune the format. This should not be a problem as long versions are not added or removed, but it is necessary to properly access it.

[2014-05-20 10:27] floere opened #72 "[Logs] Make production logs pretty."

[2014-05-20 10:49] floere opened #73 "[DB] Improve admin pages DB requests."
[code]

[2014-05-20 12:19] alloy opened #74 "Finalise all the Heroku env variables needed to push to GitHub."
This can be done just after launching, so feel free to launch while I’m gone.

[2014-05-20 13:59] #61 closed, assigned to orta

[2014-05-20 14:13] floere opened #75 "Launch"
- [x] Activate webhook on Github.
- [x] Unset maintenance mode on Heroku.
- [x] Publish blog post. @kylef
- [x] Comment and close all spec PRs
- [x] Frantically fix bugs.
- [x] Party :beers:

[2014-05-20 15:38] AliSoftware opened #76 "The screenshot on the session validation page is misleading"
The capture lead to believe that the next step after `pod trunk register` would be to `pod push MyLib` instead of `pod trunk push MyLib`

![pod trunk session validation](https://cloud.githubusercontent.com/assets/216089/3029391/b858746c-e034-11e3-9d35-50aa6e321059.png)

[2014-05-20 15:47] segiddins opened #77 "[Pods] Get list of all pods owned by user"

[2014-05-21 06:59] alloy opened #79 "Send an email to an owner when they are added to a pod"
This to notify/confirm that the owner has been added.

[2014-05-21 06:59] #74 closed, assigned to alloy

[2014-05-21 06:59] #75 closed, assigned to nobody

[2014-05-21 08:29] alloy opened #80 "None of our assets seem to be cached and hit the app every time."

[2014-05-21 13:54] alloy opened #81 "Store failed email delivery status on session"
https://sendgrid.com/docs/API_Reference/Webhooks/event.html

[2014-05-21 15:27] #76 closed, assigned to orta

[2014-05-22 08:40] floere opened #83 "Commit specific data_url points to "Not Found"."
For example, this yields a Not Found:
https://raw.githubusercontent.com/CocoaPods/Specs/64b2738a9ed3deff61802ee85c0385d774c5eaa8/Specs/A2DynamicDelegate/1.0/A2DynamicDelegate.podspec.json

(via https://trunk.cocoapods.org/manage/pods/A2DynamicDelegate)

Our data_url method seems to be too simple.

[2014-05-23 21:14] #77 closed, assigned to segiddins

[2014-05-23 21:57] alloy opened #85 "Data can be pushed to GitHub without creating a Commit record."
There’s a bug that makes it that a POST to github actually succeeds, but no Commit record is ever created. Looking at `PodVersion#push!` it would seem that the this might occur because `response.success?` is returning `false` when it actually did succeeded.

Because the user thinks the push failed, they might try again and run into an issue with the UPDATE variant of GitHub’s contents API (opposed

[2014-05-25 14:20] alloy opened #86 "Create `/owners` API endpoint."
Move owner info such as the pods they own to a new controller and path, e.g. `/owners/me` & `/owners/:id`.

Related to https://github.com/CocoaPods/trunk.cocoapods.org/pull/82 & https://github.com/CocoaPods/cocoapods-trunk/pull/19.

[2014-05-25 14:24] alloy opened #87 "Add search capability to `/manage/log_messages`."
See https://github.com/CocoaPods/trunk.cocoapods.org/issues/85#issuecomment-44134363

[2014-05-26 12:03] orta opened #88 "send a campfire notification when there's a new dispute"

[2014-05-31 17:36] #86 closed, assigned to nobody

[2014-06-05 19:20] segiddins opened #90 "Add Search capability to /manage/pods"

[2014-06-10 03:53] segiddins opened #91 "Pod api endpoint shows owners pods"
Which makes for a massive json payload if the pod is unclaimed

[2014-06-10 04:22] segiddins opened #92 "[API] Order by SemVer"
Pod versions are not ordered by SemVer. See https://trunk.cocoapods.org/api/v1/pods/RestKit

[2014-06-10 18:35] floere opened #93 "Correct created_at values on pods/versions/commits."
See https://github.com/CocoaPods/metrics.cocoapods.org/issues/10 for a description of a solution.

TODOs:
- [ ] Write a test case with at least 2 pods, each 2 versions, each 2 commits, with created_at in reverse order.
- [ ] Write utility code that goes through all pods, correcting their created_at values via Specs Github commit datetimes.
- [ ] Create (non-reversible) data migration which uses ut

[2014-06-12 17:54] keith opened #94 "Case insensitive URLs"
Right now the specs page has to match the case of the spec you're looking for. It would be nicer if the query ignored the case since that just gets confusing.

[2014-06-12 17:59] #94 closed, assigned to nobody

[2014-06-12 20:45] #70 closed, assigned to nobody

[2014-06-12 21:23] #90 closed, assigned to nobody

[2014-06-15 19:23] orta opened #95 "Certs need renewing August"
I cannot do this on my own, so at some point we need to do the CSR etc.

[2014-06-16 10:00] alloy opened #96 "[Pods] Info about a pod should not include other pods that an owner owns."
Instead it should just list the owner’s name, ID, etc.

[2014-06-27 15:44] orta opened #97 "[API] Pods since date"
Let's say hypothetically something I build might go down, doesn't happen in reality. Better to be sure though, someone else's servers might have down-time though.

They would want the ability to find out what has changed since the date it went down. Sending the same data as we do with a normal push is fine. Requesting for a friend. @alloy said it makes sense.

[2014-06-28 04:24] #92 closed, assigned to nobody

[2014-06-29 16:00] kylef opened #98 "Pod hook is not correctly encoding URLs"
Unconfirmed if this is from trunk, but I'm pretty sure it is.

![screen shot 2014-06-29 at 16 59 14](https://cloud.githubusercontent.com/assets/44164/3423710/5c70b7a4-ffa6-11e3-954f-422b5664aafa.png)

The + in this URL isn't correct.

[2014-06-29 18:11] #98 closed, assigned to nobody

[2014-07-01 16:38] keith opened #99 "Email Disputes"
It would be awesome if we could be notified of new disputes. Every few days I go through and make sure they're cleared out but an email or an automatically opened GitHub issue would be awesome :smile:

[2014-07-04 10:54] #96 closed, assigned to nobody

[2014-07-20 14:41] fabiopelosin opened #100 "Case sensitivity"
Trunks should handle as unique Pods with the same name regardless of the case:

https://trunk.cocoapods.org/manage/pods?name=uriparser
https://github.com/CocoaPods/Specs/issues/12502

[2014-08-08 01:59] #99 closed, assigned to nobody

[2014-08-08 02:00] #88 closed, assigned to nobody

[2014-08-08 02:00] #38 closed, assigned to orta

[2014-08-16 10:59] #95 closed, assigned to alloy

[2014-08-16 11:00] #91 closed, assigned to nobody

[2014-08-16 15:04] #100 closed, assigned to nobody

[2014-08-16 15:19] alloy opened #102 "Cleanup duplicate named pods and enable DB constraint."
See #100. Once this is cleaned up, we can enable the Trunk DB to not allow duplicates at the DB level, instead of just a Ruby validation.

[code]

[2014-08-18 13:56] #71 closed, assigned to nobody

[2014-08-20 22:54] fabiopelosin opened #103 "Append new line to prettified podspecs"
https://github.com/CocoaPods/Core/issues/139#issuecomment-52855788

[2014-09-08 11:11] mrackwitz opened #104 "Allow to publish pods without exposing a contact address"
We require currently that an owner uses an email address, where he can receive emails when authorizing at trunk. We use this email address as author email, when creating git commits in the specs repo. This exposes the address so that spam harvester could collect it and use it for their malicious goals. If the owner is not used to OSS perhaps without her/his knowing.

You can argue that each Podspe

[2014-10-06 20:51] #10 closed, assigned to floere

[2014-10-06 23:37] #41 closed, assigned to nobody

[2014-10-06 23:41] #12 closed, assigned to nobody

[2014-10-07 09:11] #50 closed, assigned to nobody

[2014-10-07 09:12] floere opened #106 "[Webhooks] Open up to interested parties."
This refers to the "Distant Future" part of issue #50.

Copied here:
- Once we've finalised on the details that web-services need from Trunk, we will start opening up to anyone wanting notifications.

[2014-10-08 19:33] #39 closed, assigned to kylef

[2014-10-10 21:10] kylef opened #107 "Pod API returning `{"error":"No pod found with the specified name."}` for valid pods"
Broken pods:

- SLTableViewContent https://trunk.cocoapods.org/api/v1/pods/SLTableViewContent
- WSDownloader https://trunk.cocoapods.org/api/v1/pods/WSDownloader

Seems to be some sync published state.

[2014-10-28 22:37] joshgav opened #110 "`pod trunk push` fails without info"
`pod trunk push` reports that the podspec failed validation and refuses to push to central but does not actually report any issues. Verbose logs make clear that "requires_arc = true" must be specified in podspec and this is the reason for failure.

See: https://github.com/CocoaPods/Specs/issues/12766

[2014-10-29 00:42] #110 closed, assigned to nobody

[2014-11-08 03:23] kylef opened #111 "Update stale copy from the claims page"
This is pretty dated now, https://trunk.cocoapods.org/claims/new.

[2014-11-13 12:41] alloy opened #112 "Spec validation errors are not shown when using cocoapods-trunk."
Currently we send the actual validation errors under a `data` key: https://github.com/CocoaPods/trunk.cocoapods.org/blob/a631c1d11e952ea515d4ee8d70e7663eb5f07baf/app/controllers/api/pods_controller.rb#L70

This is not what the cocoapods-trunk plugin expects: https://github.com/CocoaPods/cocoapods-trunk/blob/0.3.2/lib/pod/command/trunk.rb#L376

I think we should use the `data` form and also use tha

[2014-11-13 21:08] keith opened #113 "INAppSettingKit"
The `INAppSettingKit` spec still exists in trunk but the spec has been deleted from the specs repo. It's therefore still showing up on the cocoapods.org http://cocoapods.org/?q=INAppSettingKit

This spec should be deleted from trunk

[2014-11-22 14:07] #111 closed, assigned to nobody

[2014-11-27 18:55] pronebird opened #116 "Trunk is down?"
Hi,

I don't know where it is more appropriate to report. But I don't see my pod being updated in last couple of hours and I think something went wrong. I pushed two updates recently and neither of them have been published yet. I managed to force cocoadocs to generate documentation for the latest tag, but cocoapods search and pod search give outdated results on my pod.

Push log:

[code]

Thanks.

[2014-11-27 19:01] #116 closed, assigned to nobody

[2014-12-02 20:02] Keithbsmiley opened #117 "Enforce newest CocoaPods"
After seeing [this post](https://groups.google.com/forum/#!topic/cocoapods/U8fCXA1PWQ0) on the Google Group I feel like, unless this is already enforced, we should forcing users to be on the newest version of CocoaPods to push to trunk. In theory this will help handle cases that we've updated in CocoaPods itself so users can't push broken specs from older versions.

[2014-12-17 11:33] #113 closed, assigned to nobody

[2014-12-17 11:37] alloy opened #118 "Allow individual versions to be deleted."
See https://github.com/CocoaPods/Specs/issues/12833

Related to #113, but that’s about complete pods.

[2014-12-17 12:08] alloy opened #119 "[Manage] Cleanup pod page."
- Move ‘delete owner’ button from index to single pod overview. It’s too simple to click the wrong line and a single pod page should definitely have this manage feature.
- Move pod versions below all other info.

[2014-12-17 12:25] alloy opened #120 "[Manage] The pagination is not taking the full query scope into account."
For instance, this is clearly incorrect:

![screen shot 2014-12-17 at 12 17 04](https://cloud.githubusercontent.com/assets/2320/5470985/2dd8a32c-85f0-11e4-8b7e-eb3b829f4215.png)

[2014-12-28 23:40] floere opened #123 "Move to automated backups."
@alloy I suggest we switch to PGBackups: "Auto - One Month Retention", 7 daily, 5 weekly, 2 manual backups. What do you think?

[2014-12-31 10:33] #123 closed, assigned to nobody

[2015-01-23 16:16] keith opened #125 "Remove iso-8601-date-formatter"
This is another spec suffering from https://github.com/CocoaPods/trunk.cocoapods.org/issues/113

Details: https://github.com/CocoaPods/Specs/issues/12926

[2015-01-24 20:25] orta opened #126 "Duplicate Mapbox pods"
Given that `Mapbox-ios-sdk` is on their official docs: https://www.mapbox.com/mapbox-ios-sdk/#cocoapods

We should remove the dupe, and deprecate the `Mapbox` in favor of the official SDK. /cc @incanus

[2015-01-24 20:52] incanus commented on #126
Yes! This was a chance to rename during the trunk migration. Works for me. There's a deprecation notice in the old one anyway.

[2015-01-25 00:15] orta commented on #126
:+1:

[2015-01-25 00:27] orta commented on #126
I've removed ( for those with trunk access, I've flagged it as deleted ) the dupe.

[2015-01-25 00:27] #126 closed

[2015-03-03 16:40] kylef opened #128 "Use join query to improve performance of latest specs"
Looking at this log shows we're doing dozens of queries for this single resource. I think we could get this down to one or two queries using a JOIN.

[code]

[2015-03-03 16:43] alloy commented on #128
Yup :+1:

[2015-03-03 16:45] floere commented on #128
One of those "Just do it" cases :P

[2015-03-07 02:43] segiddins commented on #112
CocoaPods-trunk has been updated.

[2015-03-07 02:43] #112 closed

[2015-03-12 05:57] segiddins commented on #128
Alternatively, we can de-normalize and just store the latest commit id on a pod, and update when versions are changed?

[2015-03-12 08:59] alloy commented on #128
:+1:

[2015-03-15 18:28] #117 closed

[2015-03-29 05:27] segiddins commented on #107
Cannot reproduce.

[2015-03-29 05:27] #107 closed

[2015-04-16 15:52] orta opened #133 "Add rack-attack"
Someone using our API to find out all the latest spec versions can effectively DDOS, we should add a request limiter or something similar. ( Though take note that Amazon upload 10-15 pods simultaneously, so we want to be aware of general use cases like this. )

[2015-04-16 16:02] alloy commented on #133
[rack-attack](https://github.com/kickstarter/rack-attack) does seem like the best current choice. Being on Heroku means we definitely need a cache service that outlives the Herokun instances. I think the [free memcached plans are fine for our needs](https://addons.heroku.com/memcachedcloud?utm_campaign=search&utm_medium=dashboard&utm_source=addons).

With regards to keeping use-cases like e.g. Ama

[2015-04-16 16:03] orta commented on #133
:+1:

[2015-04-16 16:59] kylef commented on #133
@alloy the CDN can do this for entire resources, I can enable it. Just need to provide cache-control headers to the requests so it knows how to cache each resource.

[2015-05-07 17:02] dmdeller opened #134 "pod trunk register - Internal Server Error"
Ran the command:

    pod trunk register [redacted] 'David Deller' --description='[redacted]'

Got a link in my inbox that looked like:

    https://trunk.cocoapods.org/sessions/verify/[redacted]

Clicking the link let do a page with words 'Internal Server Error' and no other content. Refreshing the page had the same result.

Let me know if you need non-redacted versions.

[2015-05-07 17:05] segiddins commented on #134
Trunk itself appears to be down right now...

[2015-05-07 17:13] segiddins commented on #134
This has been resolved.

[2015-05-07 17:14] #134 closed

[2015-05-09 13:51] floere commented on #133
@kylef This is resolved, isn't it?

[2015-05-15 10:30] orta opened #135 "Create a normalised Owner name -> ID lookup table"
In order to offer a URL like `http://cocoapods.org/owner/eloyduran` we'd need to be able to take the name `Eloy Durán` from an owner, kill all capitals and de-funny accents etc.

To do this right we need to support people changing names, and the URL needs to continue to work so it is a one `owner_id` to many normalised names relationship.

This is a part of https://github.com/CocoaPods/cocoapods.o

[2015-05-15 14:37] kylef commented on #135
Note, ensure that there is sufficient tests to make sure that when someone registers with the same name they have a different URL.

[2015-05-15 14:42] segiddins commented on #135
Names are already changeable.

[2015-06-04 16:54] orta opened #136 "Run a lint on whether the code is accessible"
for git: `git ls-remote git://github.com/drewmccormack/dropbox-sdk-ios.git HEAD`

![screen shot 2015-06-04 at 12 52 11 pm](https://cloud.githubusercontent.com/assets/49038/7989606/b3462f00-0ab8-11e5-8d8a-e4bc79e9ea4f.png)

for http `curl` or nap.

For others it's probably fine to just skip, we're hitting 90%+ with those two cases

[2015-06-05 13:36] orta commented on #125
Done just now, will take a while to propagate.

[2015-06-05 13:37] #125 closed

[2015-06-07 18:27] orta opened #138 "Claim a trunk page is crashing"
This explains a few disputes.

[2015-06-15 07:26] mposSVK opened #139 "Command to remove the cocoapod spec completely"
Hello,

We would like to be able to remove the cocoapod spec completely - e.g. distribution of demo library specs in the case the project ceases to exist and supporting infrastructure is no longer in operation.

Thanks.

Rado

[2015-06-15 15:28] orta commented on #139
We're extremely cautious about removing pods completely, the database was created to be read only, so our policy is to have people submit PRs to the specs repo adding a deprecated flag: https://github.com/CocoaPods/Specs/pull/12199

[2015-06-15 15:28] #139 closed

[2015-06-18 00:12] kylef opened #140 "Send trunk emails from `no-reply@cocoapods.org`"
Emails such as the "Confirm your registration" email are sent from `no-reply@cocoapods.org`. Getting way too much spam and there is no need for this to use `info@`.

[2015-07-05 20:14] segiddins commented on #97
Feeds already has logic for this, but I'm very concerned if this isn't rate-limited.

[2015-07-05 20:15] segiddins commented on #138
I can't repro this -- @orta do you have logs for this crash handy?

[2015-07-06 12:40] orta commented on #138
afraid not, I can't re-pro either.

[2015-07-21 18:17] segiddins commented on #46
@CocoaPods/core we need to decide what to do about this -- I say when specs get deleted via PR, they need to also be deleted from trunk

[2015-07-21 18:18] keith commented on #46
+1

[2015-07-21 18:18] k0nserv commented on #46
Should specs be deleted via PRs? I thought non automated changes of the specs repo were not recommended?

[2015-07-21 18:19] segiddins commented on #46
Yes, they are deleted via PRs, but they still remain in trunk, and thus show up in search, cocoadocs, etc

[2015-07-21 18:20] k0nserv commented on #46
Since new version and new pods are pushed via trunk wouldn't it be better to also delete them from there? My reasoning is that it's easier to delete in trunk and make changes to spec than detecting changes in spec and updating trunk accordingly

[2015-07-21 20:14] floere commented on #46
I noticed a lot of the discussion (not necessarily here, but elsewhere, mainly) mixes what we should do as Specs owners and how Trunk should work.
Trunk is easy. It should try to mimic the Specs repo as well as possible.

Maybe it helps if we list all the cases?
So Trunk has basically 3 entities that are relevant: pods, versions, and commits.

So, here are a few deletion cases. What should happen

[2015-07-22 07:39] orta commented on #46
The Specs repo should be an end result of what happens in trunk, not the other way around. If we are going to support deleting pods, and pod versions in any way it should be via a `pod trunk yank [pod]` or `pod trunk yank [pod] 0.2.3` so that the onus is on the owner of the library to make the changes.

[2015-07-22 07:46] AliSoftware commented on #46
I agree that trunk should be the ref and the repo its mirror, but I don't like to give the authors a way (via `pod trunk yank`) to remove their pods: it would risk to encourage people to do it or at least make them consider it, whereas for me it shouldn't be done (or if it should, we should decide if it's really relevant as a very special case or not). I'd prefer a private web form in our admin pa

[2015-07-22 07:52] orta commented on #46
All of the flack gets directed at us, when it's not our call to make. [Rubygems does this](http://blog.rubygems.org/2015/04/13/permadelete-on-yank.html) and they're getting on just fine.

[2015-07-22 08:07] neonichu commented on #46
:+1: for `pod trunk yank` — we should discourage it, but in the end it should be a spec author's call, not ours

[2015-07-22 08:09] k0nserv commented on #46
We might even wanna include a warning and confirmation step before performing the action.

[2015-07-22 08:22] k0nserv commented on #46
Something like this

[2015-07-22 08:25] orta commented on #46
Yep, agree @k0nserv

[2015-07-22 09:12] AliSoftware commented on #46
:+1: @k0nserv

[2015-07-22 10:03] floere commented on #46
@orta Of course. Nobody ever said anything else. And whether the onus is on the owner of the library is orthogonal to the discussion how changes get in trunk. We can put the onus on the owner whether a change comes in via Specs repo or through trunk directly.

Can you move the `trunk yank` discussion off this issue and open one that deals specifically with that topic?
This one is about what we sho

[2015-07-22 10:11] floere commented on #46
To clarify:
Whether we add a `pod yank` or not – changes that come in via Specs were explicitly allowed for being able to deal with crazy special cases, or with cases that we can't yet cover with Trunk. This issue deals with these special cases.
In a magical future where our users are more powerful (should we go that route), we may close down changes via Specs repo entirely, and remove all hooks c

[2015-07-24 16:00] orta commented on #136
this got merged

[2015-07-24 16:00] #136 closed

[2015-07-24 16:14] orta commented on #46
Getting back on topic then, I think the pattern of marking as deleted is probably the best in the long run.

[2015-07-24 22:00] orta commented on #138
https://github.com/CocoaPods/Specs/pull/13343#issuecomment-124577768

[2015-07-27 14:45] brianpartridge commented on #136
Awesome. Thank you @orta !

[2015-07-30 14:39] jeffreyjackson opened #142 "Unverifiable domain"
I would like to begin using trunk but I'm receiving an error stating that my email is unverifiable.  What do I do?

[2015-08-07 20:09] gcox commented on #142
@jeffreyjackson If you didn't put quotes around your email address, do so.  I ran into this issue and that was the cause of this in my case.

[2015-08-08 10:12] kylef commented on #142
@jeffreyjackson If you're using the `jeffreyclarkejackson.com` domain, it seems that it is invalid.

[code]

[code]

[2015-08-10 03:14] jeffreyjackson commented on #142
kyle, i was looking to use autolean.com

[2015-08-13 17:44] King-Wizard opened #145 "podspec to delete from the Trunk database please."
Further to the [short conversation that I have just had with @Keith Smiley](https://github.com/CocoaPods/Specs/pull/13389#event-381658167), I allow myself to contact you in order to ask you to please delete from the trunk database the list of podspec below:

 Specs/GTNotification/1.0/GTNotification.podspec.json
Specs/GTNotification/1.1/GTNotification.podspec.json
Specs/GTNotification/1.2/GTNotific

[2015-08-13 21:39] orta commented on #145
I'm afraid we're still making the deprecation [method for trunk](https://github.com/CocoaPods/trunk.cocoapods.org/pull/144) specs, so I'll leave this open and connected. The Specs repo can deal with deletions, trunk however cannot easily just have data wiped.

[2015-08-15 18:20] King-Wizard commented on #145
Sorry but I am a little bit confused, could you please just quickly tell me what is the purpose of the Specs repo and the Trunk database?

Also what happens if only the podspec is deleted from the specs repository?

And thus what would be the perk of having data deleted from the Trunk?

Thank you in advance for your answers, I am new to all of that.

[2015-08-19 05:12] clayallsopp opened #146 "Duplicate account?"
Somehow I have two accounts: https://cocoapods.org/owners/485 https://cocoapods.org/owners/3253, which is preventing me from updating https://github.com/clayallsopp/routable-ios

i.e. I `pod trunk register clay.allsopp@gmail.com`, which works, but when I `pod trunk push` inside the Routable repo, it yells:

[code]

(apologies if there's a better place to file this issue - the "Claim Pod" form didn

[2015-08-19 05:33] segiddins commented on #146
@clayallsopp the two accounts are registered to different emails

[2015-08-19 06:08] clayallsopp commented on #146
What are the emails? If one is clay@usepropeller.com, I no longer have access to that

[2015-08-19 06:27] segiddins commented on #146
Yeah, that is the other.

[2015-08-19 14:17] clayallsopp commented on #146
Cool, so what is the next action here? I think the ideal state is that those pods are moved to the clay.allsopp@gmail.com account

[2015-08-19 14:29] segiddins commented on #146
You should file a claim via the trunk website on those pods.

[2015-08-20 05:38] clayallsopp commented on #146
Cool, done

[2015-08-20 11:33] orta commented on #146
I've added your gmail to them all :+1:

[2015-08-20 11:33] #146 closed

[2015-08-22 02:24] clayallsopp commented on #146
@orta lovely, thank you!

[2015-08-25 12:14] billinghamj opened #147 ""Source code for your Pod was not accessible to CocoaPods Trunk""
I'm trying to push my Pod "JBImageView": https://github.com/billinghamj/JBCameraView

As you can see, it is public. However I'm getting the error:

[code]

The spec (https://github.com/billinghamj/JBCameraView/blob/v0.1.0/JBCameraView.podspec) references https://github.com/billinghamj/JBCameraView.git tag `v0.1.0`.

Running this:

[code]

Results in:

[code]

Which is correct.

I can only assume t

[2015-08-25 12:14] billinghamj commented on #147
I have tried pushing about 5 times, the error consistently occurs.

[2015-08-25 12:15] orta commented on #147
GitHub is currently being DDOS'd, so that's likely the cause, trunk has been doing this fine for a few months now.

[2015-08-25 12:15] billinghamj commented on #147
Okay, so perhaps the behavior should be changed to return true in the event of a timeout?

[2015-08-25 12:16] orta commented on #147
Given that the Specs repo is also on GitHub, you would still receive an error, it would just be at the stage where we make the commit instead I'm afraid.

[2015-08-25 12:17] billinghamj commented on #147
Okay. I'll wait out the DDOS then. Thanks

[2015-08-25 12:17] #147 closed

[2015-08-25 12:20] orta commented on #147
I've just successfully pushed a Pod, so if you're still having problems we should re-open.

[code]

[2015-08-25 12:21] billinghamj commented on #147
It just worked for me too. Just intermittent due to the DDOS I guess. Oh well. Thanks for the help.

[2015-09-16 13:21] alloy opened #148 "Cache the ‘latest’ version of a pod."
The `/api/v1/pods/:name/specs/latest` endpoint is always performing a complicated query to figure out what the latest version is. Instead of that complicated query, we should probably just cache what the latest version is on the `Pod` model.

[2015-09-16 13:28] alloy commented on #148
- [ ] Update cached version on push
- [ ] Update cached version on delete/deprecation
- [ ] Do a data migration to add it for all the existing pods

Others?

[2015-09-16 13:47] orta commented on #148
yeah, a cached lastest version is a good idea, in the website we've done a lot of trickery to work around this slowness.

[2015-09-17 11:27] espadrine commented on #148
For the record, currently shields.io calls `https://trunk.cocoapods.org/api/v1/pods/SPEC/specs/latest`.

We cache everything in a LRU, and use the cache:

- when the vendor times out
- when the cache was updated within 5 seconds or whatever the vendor's Cache-Control header's max-age says
- when the data changes so infrequently that 75% of responses stay accurate — although in that latter case, we

[2015-09-17 11:38] alloy commented on #148
@espadrine Thanks for the info! I’ll get back to you once I’ve had the time to investigate what the best approach for us is.

[2015-10-10 18:25] #140 closed

[2015-10-18 06:48] kylef commented on #142
This slipped by unhanded.

@jeffreyjackson is this still a problem?

[2015-10-25 13:55] floere commented on #46
So let's go with:

Case | Pod | Version(s) | Commits
------------ | -------------|-----------|-----------
All versions of a pod are deleted | The pod is marked deleted | All are marked deleted | Commit is added for each version
A few versions of a pod are deleted | - | These are marked | A commit per marked version
One version of a pod is deleted | - | Marked | A commit is added for the version
Th

[2015-11-08 16:53] orta opened #152 "Thanks page is erroring"
[code]

https://logentries.com/app/847b884f#/log/6f78d195-f9aa-4caa-a675-ae5b55e54cfa/?last=Last%2020%20Mins&log_q=where(thanks)
https://twitter.com/featherless/status/663392998709927940

[2015-11-08 17:06] orta commented on #138
#153 should fix this

[2015-11-09 16:14] #152 closed

[2015-11-13 07:13] groue opened #154 "Trunk has published an outdated version of the repository"
Hello,

https://cocoapods.org/pods/GRDB.swift shows the v0.28.0 version of https://github.com/groue/GRDB.swift, with the outdated v0.27.0 versions of README.md and the CHANGELOG.md.

Compare the README of https://cocoapods.org/pods/GRDB.swift
With the version at v0.28.0: https://github.com/groue/GRDB.swift/blob/v0.28.0/README.md

Do you know what happened?

The `pod trunk push` has run fine, as lo

[2015-11-13 07:52] groue commented on #154
Also, the documentation for v0.28.0 http://cocoadocs.org/docsets/GRDB.swift/0.28.0/index.html returns a 404, when the v.0.27.0 works fine: http://cocoadocs.org/docsets/GRDB.swift/0.27.0/index.html. Maybe this issue does not belong to this repository, I apologize.

[2015-11-13 11:26] orta commented on #154
Looking at https://status.cocoapods.org it seems that _something_ is up with CocoaDocs, but what that is I don't really know without investigation:

<img width="876" alt="screen shot 2015-11-13 at 06 26 09" src="https://cloud.githubusercontent.com/assets/49038/11145018/7a0595dc-89cf-11e5-8bb0-2860b8918c03.png">

[2015-11-14 12:54] groue commented on #154
It continues: I've just pushed v0.29.0, and https://cocoapods.org/pods/GRDB.swift keeps on displaying outdated v0.27.0 README and CHANGELOG.

[2015-11-14 16:22] orta commented on #154
Looks like this is is due to the preview thumbnails:

The Mac is currently running headless because I've not logged in via screen sharing since the last reboot, but the Headline image generator requires a screen. This locks the process. Gonna need to re-run a weeks worth of docs probably.

[code]

[2015-11-14 16:25] groue commented on #154
Happy I could help spotting this minor trouble!

[2015-11-14 16:26] orta commented on #154
Thanks a lot, now to figure out how to convert the app to run headless

[2015-11-14 18:40] orta commented on #154
Alright! This is fixed, https://github.com/CocoaPods/cocoadocs.org/commit/c3456e00051fe387217f9abbc9d10c6dfe2840a6 - the app makes no assumptions that you can create a window.

[2015-11-14 18:42] orta commented on #154
And I re-ran GRDB and everything seems to look good from my side

[2015-11-14 19:20] groue commented on #154
Wow, such a big change :-) Thanks, @orta!

[2015-11-14 19:20] groue commented on #154
It looks like I can close this issue, now.

[2015-11-14 19:20] #154 closed

[2015-11-18 23:01] f2prateek opened #155 "Updating name doesn't work"
I accidentally used the wrong name when I was setting up CocoaPods. It seems that simply registering again with a new name should let me update it (https://github.com/CocoaPods/trunk.cocoapods.org/blob/e0be3b379138d154f8d3f4f7a2e7d9dd799970f4/app/models/owner.rb#L31-L38), but doesn't seem to be working with CocoaPods 0.39.0.

![image](https://cloud.githubusercontent.com/assets/843979/11257182/f6a4

[2015-11-20 16:46] floere opened #156 "Remove trunk migrations."
They are handled by Humus.

[2015-11-29 12:35] orta commented on #138
I think it did, we're seeing a lot less disputes in trunk.

[2015-11-29 12:35] #138 closed

[2015-12-08 04:51] segiddins commented on #133
nope, trunk doesn't yet seem to be cached via cloudflare

[2015-12-08 04:56] segiddins commented on #118
We've done this!

[2015-12-08 04:56] #118 closed

[2015-12-08 05:04] segiddins commented on #20
I don't think this is really necessary ?

[2015-12-08 09:39] alloy commented on #20
Nope, seems to all work fine.

[2015-12-08 09:39] #20 closed

[2015-12-08 15:26] f2prateek commented on #118
@segiddins (cc @floere) re: #144 — are there docs on how users can mark a  specific version of a pod as deleted, or is some more work required elsewhere?

[2015-12-08 15:31] segiddins commented on #118
Right now it's only via PRs to the specs repo -- were working on an API for it, though.

[2015-12-08 16:57] segiddins commented on #155
Really weird, looking at https://github.com/CocoaPods/trunk.cocoapods.org/blob/master/app/controllers/api/sessions_controller.rb#L17 it should be working...

[2015-12-08 17:28] f2prateek commented on #155
Hmm... is this specific to my account, or are you able to reproduce it for yours as well?

[2015-12-08 17:28] segiddins commented on #155
I haven't tried to reproduce it yet, but I did a quick audit of the code and it all seems in order

[2015-12-17 23:36] earulraj opened #159 "PodTest122"
Hi this pod was created by me for test purposes can you please remove it.

[2015-12-18 10:28] segiddins commented on #159
You'll need to make a PR to the specs repo, but we highly discourage deleting pods

[2016-01-02 15:22] AdrianaPineda opened #161 "Remove pod 'UPEmbeddedTextViewM2' from trunk"
I want to remove the pod 'UPEmbeddedTextViewM2'. I'm the owner and I no longer need it since I created another one with a more meaningful name (see 'UPEmbeddedTextViewManager')
I already made a PR  in the specs repo (https://github.com/CocoaPods/Specs/pull/13730)

Thanks!
Adriana Pineda

[2016-01-02 17:33] orta commented on #161
Closing as this is covered by 1.0's command line API

[2016-01-02 17:33] #161 closed

[2016-01-02 17:34] orta commented on #159
We now support deprecating or deleting a Pod from the command line in the 1.0 beta, if you run `pod trunk delete` and `pod trunk deprecate` with `--help` it should help you do what you want independently.

[2016-01-02 17:34] #159 closed

[2016-01-02 17:35] orta commented on #145
We now support deprecating or deleting a Pod from the command line in the 1.0 beta, if you run `pod trunk delete` and `pod trunk deprecate` with `--help` it should help you do what you want independently.

[2016-01-02 17:35] #145 closed

[2016-01-02 17:35] orta commented on #97
I'm closing, I've not needed this.

[2016-01-02 17:35] #97 closed

[2016-01-02 17:41] orta commented on #46
This is in.

[2016-01-02 17:41] #46 closed

[2016-01-05 03:05] chiulam commented on #155
I got the same problem.
Want to change my account by register again, but fail.

[2016-01-05 10:10] alloy commented on #155
Might be related to https://github.com/CocoaPods/trunk.cocoapods.org/pull/150 ?

[2016-01-10 11:40] orta opened #162 "Spec deletion not working in practice"
See: https://github.com/CocoaPods/CocoaPods/issues/4743

[2016-01-10 11:45] orta commented on #162
So I think this: [GitHub.rb](https://github.com/CocoaPods/trunk.cocoapods.org/blob/master/app/models/github.rb#L38-L430) needs to use [these params](https://developer.github.com/v3/repos/contents/#delete-a-file)

[2016-01-10 12:01] orta commented on #162
hrm, the SHA thing is tricky, [best recommendation](http://stackoverflow.com/questions/20207594/how-to-find-a-github-file-s-sha-blob) seems to be to curl the API for that file to get the base SHA: e.g. - https://api.github.com/repos/CocoaPods/Specs/contents/Specs/OrtaDeletePodTest/0.1.1/OrtaDeletePodTest.podspec.json

[2016-01-10 16:13] keshavvishwkarma commented on #162
@orta Could you please suggest me what should I do to delete ``` pod "MyPodDemo" ```?. I have tried many time to delete it. but every time I have got an error

``` $ pod trunk delete MyPodDemo 0.0.1 ```

WARNING: It is generally considered bad behavior to remove versions of a Pod that others are depending on!
Please consider using the `deprecate` command instead.
Are you sure you want to delete th

[2016-01-10 16:15] segiddins commented on #162
@keshavvishwkarma it's a bug we have to fix on our side

[2016-01-12 21:42] keshavvishwkarma commented on #162
@orta After run ` $ pod trunk delete MyPodDemo 0.0.1 `.  I try to create new pod library with help of command ` $pod lib create TestDemo `. It creates a library with error. Due to this the example does not configure with properly.

Running pod install on your new library.

[!] Invalid `Podfile` file: [!] Unsupported options `{:exclusive=>true}` for target `TestDemo_Tests`.. Updating CocoaPods migh

[2016-01-13 06:41] orta commented on #162
the `pod lib create` template is for 0.39, not 1.0.0 - please don't put off-topic comments in issues @keshavvishwkarma

[2016-01-26 23:44] #162 closed

[2016-01-27 15:50] orta opened #168 "Successful trunk version deletion redirects to pod page"
Successful pod version deletions redirect to pod page

![screen shot 2016-01-27 at 15 44 42](https://cloud.githubusercontent.com/assets/49038/12618813/78f25648-c50d-11e5-8b00-82da7838406e.png)

[code]

From my terminal:

[code]

[2016-01-27 15:58] orta commented on #168
Tests imply this is known,

[code]

does this meant the `cocoapods-trunk` needs to be OK with the redirect?

[2016-01-27 16:42] segiddins commented on #168
I think I just made it redirect to the wrong thing? I'll look into this.

[2016-02-05 08:33] SikhNerd commented on #168
Looks like it's covered in #168

[2016-02-09 08:48] orta commented on #133
#160 brough this in.

[2016-02-09 08:48] #133 closed

[2016-02-19 18:42] andr3a88 opened #172 ""name is already taken" after a pod version delete"
I've deleted a pod version with `pod trunk delete ASProgressHud.podspec 0.0.1`, now i'm trying to push the version 0.0.2,  but when i pushe again i've this error **[!] {"name"=>["is already taken"]}**

[2016-02-19 22:26] segiddins commented on #172
Are you sure you're the owner of that pod?

[2016-02-20 01:48] andr3a88 commented on #172
yes...

[https://github.com/CocoaPods/Specs/commit/90020d1888a1b1a0a9d49088e17eda22d2517dfe](url)

[https://github.com/CocoaPods/Specs/commit/2b18fc6be208d80399bd8e86075d16a463050b37](url)

[2016-02-20 02:07] segiddins commented on #172
What's the output of `pod trunk me`?

[2016-02-20 10:12] andr3a88 commented on #172
[code]

[2016-02-22 08:51] andr3a88 commented on #172
@segiddins any suggestions?

[2016-02-22 13:05] orta commented on #172
Do we un-delete pods if all versions were deleted and someone adds a new one /cc @floere ?

[2016-02-22 13:54] segiddins commented on #172
@orta in theory ;)
I've been busy this weekend, I'll try and read through the relevant code tonight.

[2016-02-22 21:00] floere commented on #172
@orta As far as I can see, we don't undelete pods even if a new, undeleted version is added. We should probably handle that in `handle_modified` – a symmetrical method of `delete_versionless`. Would you agree, @segiddins ?

[2016-03-05 15:46] AndreaStevanato commented on #172
you can delete the pod so I can resend it?

[2016-03-05 15:48] andr3a88 commented on #172
you can delete the pod so I can resend it?

[2016-03-08 20:12] ricardopereira commented on #172
@andr3a88 I'm with the same problem. Any updates?

[2016-03-08 21:39] segiddins commented on #172
Trying to debug with a local version of the trunk app is probably your best for the meantime -- we're unlikely to get around to this issue immediately.

[2016-03-11 01:45] Imperiopolis commented on #142
I've lately started seeing this issue against my domain. The problem domain is `trappdesign.net` and a host lookup against it does return a valid MX record. Any help would be greatly appreciated as I no longer have a registered machine and thus can't update my pods :(

[code]

[2016-03-11 01:47] orta commented on #142
I can't find anything in our emailer going to that domain, can you give me an email address?

[2016-03-11 02:03] Imperiopolis commented on #142
Hey @orta sorry false alarm, this was a problem in my DNS records and everything is working fine now.

[2016-03-11 02:19] orta commented on #142
Cool, I'm gonna close this out, as we've not had a response in a while.

[2016-03-11 02:19] #142 closed

[2016-03-16 13:28] yogeshbh opened #174 "Remove my CustomLabel specification"
I was learning cocoa pods and so tried some commands. I have deleted the original project. Please remove this specification from trunk database. Sincere apologies.

https://raw.githubusercontent.com/CocoaPods/Specs/58b74e2394e337849aefd4919e129bb13bd6339a/Specs/CustomLabel/0.1.0/CustomLabel.podspec.json

[2016-03-16 14:18] orta commented on #174
Please use the `pod trunk delete` command in the CocoaPods 1.0 betas, we aim to not curate the Specs repo.

[2016-03-16 14:18] #174 closed

[2016-03-17 13:28] hohl commented on #155
Accidentally had an typo in my name and would like to fix it. Any chance to change my name? Re-registring with the correct name doesn't change anything.

[2016-03-17 14:42] mattheworiordan commented on #172
@segiddins any update on this?  It's been almost a month that we've been unable to deploy our pod.  Any help would be appreciated. Is there no manual clean up that could be done as a once off please?

[2016-03-17 14:44] orta commented on #172
@mattheworiordan I'm afraid we've been busy with 1.0 and the changes we've had to make for github -  I've manually marked ASProgressHud as not-deleted in the db, you should check to see if that works.

[2016-03-17 14:46] mattheworiordan commented on #172
Thanks for the reply @orta , but unfortunately I am not sure what you are referring to with `ASProgressHud`?  I have tried `$ pod trunk push` again now and still get `[!] {"name"=>["is already taken"]}` for our pod Ably

[2016-03-17 14:47] orta commented on #172
Oh, well, you didn't really say what your Pod was, I just assumed was that as it was brought up earlier. I've marked that as not deleted too.

[2016-03-17 14:53] mattheworiordan commented on #172
Thanks @orta, sorry for the confusion, our original issue was https://github.com/CocoaPods/CocoaPods/issues/5020 which was closed in favour of this one.

Here's my push which is still failing unfortunately:

[code]

Here is our Podspec if that helps at all:
[code]

[2016-03-17 14:53] ricardopereira commented on #172
Thanks @orta. I changed the pod lowercase name to capital (`ably` -> `Ably`). Any inconvenient with this on updating?

[2016-03-17 15:35] orta commented on #172
Looks like the work needed in this issue needs to be done I'm afraid then, PRs welcome to boost it's time, we can't guarantee our time anytime soon given that I'm flying a lot from today, and the rest of the team is focusing their time on 1.0 and not crippling github's infrastructure

[2016-03-17 15:40] mattheworiordan commented on #172
Ok, thanks for the heads up @orta, we'll probably just go with another name for now

[2016-03-29 11:43] groue opened #175 "`pod trunk push` error in relation with Swift availability checking and `@available`"
Hello,

I experience difficulties pushing the latest version of [GRDB.swift](https://github.com/groue/GRDB.swift/tree/v0.54.0), with the following output of `pod trunk push`:

[code]

The errors come from lines that are guarded with an `@available` clause: https://github.com/groue/GRDB.swift/blob/v0.54.0/GRDB/Core/Database.swift#L621-L679

[code]

The [podspec](https://github.com/groue/GRDB.swift/

[2016-03-29 17:19] groue commented on #175
FYI, I could push [v0.54.1](https://github.com/groue/GRDB.swift/blob/v0.54.1/GRDB.swift.podspec) with an artificial restriction on iOS 9+ and OS X 10.11+ that only applies to CocoaPods.

[2016-04-01 01:10] segiddins commented on #175
What version of CocoaPods are you using? This ought to be fixed in CocoaPods 1.0.

[2016-04-01 04:35] groue commented on #175
I was using 1.0.0.beta.6.

[2016-04-01 05:42] segiddins commented on #175
Ok, please open this up on the main CocoaPods repo so someone can have a look? Thanks!

[2016-04-01 05:42] #175 closed

[2016-04-01 16:50] segiddins commented on #172
@alloy or @floere if either of you have some spare cycles, taking a look into this would be much appreciated!

[2016-04-02 11:35] viacheslavleonov commented on #172
Could you please undelete my pod 'ampiri-ios-sdk' as long as this bug is not fixed yet?

[2016-04-02 22:20] #172 closed

[2016-04-02 22:27] segiddins commented on #172
I've just deployed the fix for this -- thanks for hanging with us!

[2016-04-10 12:11] Jofranks opened #179 "Remove trunk YLPNeon."
This master already delete.

[2016-04-10 12:27] #179 closed

[2016-04-19 21:16] tcard commented on #172
@segiddins Thanks, but `Ably` stills seems to be unavailable. Still the same `[!] {"name"=>["is already taken"]}`error. /@mattheworiordan ably/ably-ios#290

[2016-04-21 12:01] couchdeveloper opened #180 "You (<me>) are not allowed to push new versions for this pod. The owners of this pod are unclaimed-pods@cocoapods.org."
I cannot update my pod due to error

"You (agrosam@onlinehome.de) are not allowed to push new versions for this pod. The owners of this pod are unclaimed-pods@cocoapods.org."

The pod was previously "unclaimed" - since I didn't specify the author in the spec correctly.

[2016-04-21 12:07] couchdeveloper commented on #180
OK, was able to solve it:

Going to trunk.cocoapods.org and then claiming the pod.

[2016-04-21 12:07] #180 closed

[2016-05-30 15:18] jvanzummeren opened #181 "Accidently pushed podspec with wrong capitals"
I accidently pushed the .podspec that has our library name without capitals.
I tried to push a new push spec with capitals (MarkyMark), but it's saying this name already exists.
Also tried doing trunk delete, but didn't help resolving the issue.

Is there any way we can still change the name of the library to the name with capitals?

Thanks in advance

[2016-05-30 16:11] segiddins commented on #181
Changing the capitalization of an existing pod is unsupported, sorry

[2016-05-31 07:36] jvanzummeren commented on #181
Ah ok, that's too bad. Since nobody is using this pod yet, is there any way you can help me remove the pod so i can retry? :)

[2016-05-31 12:02] segiddins commented on #181
I can't remember if deleting all versions of the spec will let you change the case -- you might want to double check the trunk code to see if it will

[2016-06-20 10:06] ipavlidakis commented on #155
Same problem for me also here. Any chance to get an update functionality?

[2016-06-21 12:56] orta commented on #155
You're welcome to take a look at fixing it, this repo is well tested

[2016-06-23 14:55] honghaoz opened #182 "Rename GooglePlaces to GooglePlacesAPI as required by Google."
Hi,

As required by Google. I'd like to rename my pod GooglePlaces to GooglePlacesAPI.

I thought about [deprecating](https://guides.cocoapods.org/syntax/podspec.html#deprecated) this Pod. However, I believe the old pod name still conflicts with Google's coming one.

So I think make an amending PR to rename the name is the right way.

Any other better solution? Thanks

This is the PR I posted http

[2016-06-23 15:39] segiddins commented on #182
You can't change the name of a pod. The best way would be to deprecate and have the old pod just depend on the new one.

[2016-06-23 15:39] #182 closed

[2016-06-23 16:12] honghaoz commented on #182
@segiddins If I deprecate the old one, is the old name still occupied? So that Google can used that pod name. Otherwise, I have to delete it I guess?

[2016-06-23 17:02] segiddins commented on #182
Yeah, or you can give ownership of the pod to google

[2016-07-25 07:55] lengain commented on #155
Re-registring with the correct name doesn't change anything.

[2016-08-02 12:02] haseebOptini opened #183 "Remove PredictIO"
i published the pod named PredictIO but because of sum issues i want to un publish my pod and delete from CocoaPods Database.

[2016-08-02 16:35] segiddins commented on #183
`pod trunk delete` will do what you want: https://guides.cocoapods.org/terminal/commands.html#pod_trunk_delete

[2016-08-02 16:35] #183 closed

[2016-08-10 11:33] haseebOptini commented on #183
i am writing a command and unable to delete the current Pod every time i run this command i get the result "[!] You are not allowed to delete this pod."

[2016-08-10 14:34] harquail opened #184 "[!] {"name"=>["is already taken"]} after deleting pod"
What I'm trying to accomplish: remove old version of our pod, named "YieldMo" currently at 0.0.1.  Upload new specs for current versions, change name to "Yieldmo"

What I did:
pod trunk deprecate YieldMo 0.0.1
pod trunk delete YieldMo 0.0.1
Trying to pod trunk push the new spec gives me this error:

Validating podspec
 -> Yieldmo (3.0.3)

[!] {"name"=>["is already taken"]}

[2016-08-10 14:39] segiddins commented on #184
You can't change the case of a pods name.

[2016-08-10 14:44] harquail commented on #184
ok — not even by deleting the existing pod?

[2016-08-10 15:37] orta commented on #184
Aye, you're welcome to take a look at adding that - it's just not been done yet ( closing as a dupe of #155 )

[2016-08-10 15:37] #184 closed

[2016-08-10 15:53] harquail commented on #184
ok, thanks — we'll work around by using a different name

[2016-08-11 16:48] kylebrowning opened #185 "Deprecate old pod thats already been depricated"
Line 91 here, https://github.com/CocoaPods/trunk.cocoapods.org/blob/master/app/models/pod_version.rb#L91

Doesn't let you re-depricat in favor of.If a cocoa pod goes through two name changes, the author doesn't have the ability to point to them to the correct new pod.

[2016-09-16 13:26] priyankamistry09 opened #190 "Remove 'builtiOSSDKFramework' and 'builtIO' trunk"
Hi,

We have 'builtiOSSDKFramework' and 'builtIO' which we already removed from Spec. We wish to remove the same from trunk as we are planning to push under the name 'BuiltIO'. Currently its throwing 'name already taken' error.

Note: 'builtIO' and 'builtiOSSDKFramework' are registered under our email i.e mobile@raweng.com

[2016-09-16 13:28] orta commented on #190
I'm afraid we don't support changing the case of your Pods as we use a local filesystem for storage and we want to be agnostic of case insensitivity, but you can use the [trunk commands](https://guides.cocoapods.org/terminal/commands.html#group_trunk) to delete and deprecate as you want.

[2016-09-16 13:28] #190 closed

[2016-09-21 10:22] orta opened #193 "Log view uses a large amount of memory"
It's already paginating, but maybe it needs to loop through all messages before it shows them?

[2016-09-25 17:58] #193 closed

[2016-10-18 08:51] meilbn commented on #155
First, sorry to comment this closed issue, Because this problem is still there with CocoaPods 1.0.1, I register wrong name with Pod name, so I want changing it, but it's not working by ``pod trunk register EMAIL 'New Name'``, and the ``pod trunk register --help`` print:
If this is your first registration, both an `EMAIL` address and your `NAME` are required. If you’ve already registered with trunk

[2016-10-20 05:53] #80 closed

[2016-10-29 13:34] SanjoDeundiak opened #197 "pod trunk delete doesn't work"
I'm trying to remove old beta versions of my pod:

[code]

CocoaPods version 1.1.1

[2016-10-29 16:00] segiddins commented on #197
I believe this is a duplicate of https://github.com/CocoaPods/trunk.cocoapods.org/issues/168, as the pod actually was deleted

[2016-11-06 23:49] #197 closed

[2016-11-14 11:02] pxson001 opened #201 "Undefined method `deleted' for class `Pod::TrunkApp::PodVersion' (NameError)"
Hi all,

I have a problem when deploying this app on Heroku.
When I check heroku logs. I got a message like this:

 /app/app/models/pod_version.rb:36:in `alias_method': undefined method `deleted' for class `Pod::TrunkApp::PodVersion' (NameError)

Please help me to fix the problem. I really appreciate.
I'm really happy if you guys can show me how to deploy the app step by step.

Thank you, guys.

[2016-11-15 10:08] af-golan opened #202 "Delete pod"
I would like to delete my pod from the trunk, What are the steps for it?

[2016-11-15 10:10] orta commented on #202
You can use `pod trunk delete` to delete [pod versions](https://guides.cocoapods.org/terminal/commands.html#pod_trunk_delete) from the command line

[2016-11-15 10:10] #202 closed

[2016-11-15 10:13] af-golan commented on #202
@orta can I use it to remove all the versions?

[2016-11-15 10:15] af-golan commented on #202
I get this error:

pod trunk delete AppsFlyer-SDK 4.5.9
WARNING: It is generally considered bad behavior to remove versions of a Pod that others are depending on!
Please consider using the `deprecate` command instead.
Are you sure you want to delete this Pod version?

[!] An unexpected error occurred: <!DOCTYPE html><html><head><title>CocoaPods Trunk</title><link href="/assets/app.css" media="scre

[2016-11-15 10:15] orta commented on #202
aye, that's a known bug https://github.com/CocoaPods/trunk.cocoapods.org/issues/168

[2016-11-15 10:20] af-golan commented on #202
ok, so how can I delete the entire pod? and all its versions?

[2016-11-15 21:39] codytwinton opened #203 "`404: Not Found` for Shield Badge showing Invalid Pod"
For some reason my Cocoapods badge and access is failing to show version and platform.

[![CocoaPods Version][cocoapod-v-image]][cocoapod-url]

My pod shows up properly: https://cocoapods.org/pods/SwiftyVIPER

However, my pod account shows no pods: https://cocoapods.org/owners/8966

---

These work:

https://trunk.cocoapods.org/api/v1/pods/Alamofire

https://trunk.cocoapods.org/api/v1/pods/SwiftyV

[2016-11-16 03:17] PatrickSCLin opened #204 "Unable to find a pod with name, author, summary, or description matching `PLTimelineView`"
I pushed my public pod couple days ago, it was searchable, but not work anymore now.

Unable to find a pod with name, author, summary, or description matching `PLTimelineView`

[2016-11-16 23:11] jverkoey commented on #168
Just ran into this as well when deprecating MaterialMotionDirectManipulationFamily.

[2016-11-16 23:13] codytwinton commented on #203
I believe this issue may be located in this file:

`/app/controllers/api/pods_controller.rb` on `line: 70`.

[2016-11-17 08:16] #203 closed

[2016-11-17 08:31] orta commented on #203
Alright- this is deployed - thanks @codytwinton

[2016-11-17 10:13] af-golan commented on #202
@orta Any update?

[2016-11-17 10:13] orta commented on #202
you can delete all of it's versions by sending messages, as the issue I linked to says - it works fine, you just get a useless message

[2016-11-17 10:15] orta commented on #201
You need to use the database migrations from [Humus](https://github.com/CocoaPods/humus) - this just happened to me, would love a PR mentioning that  - we have #156  to represent the issue

[2016-11-17 10:15] #201 closed

[2016-11-17 10:38] af-golan commented on #202
@orta Now I get other error:

pod trunk delete AppsFlyer-SDK 4.5.7
WARNING: It is generally considered bad behavior to remove versions of a Pod that others are depending on!
Please consider using the `deprecate` command instead.
Are you sure you want to delete this Pod version?

**[!] An internal server error occurred. Please check for any known status issues at https://twitter.com/CocoaPods and t

[2016-11-18 00:27] NicholasTD07 opened #207 "`pod trunk push` failed because of "An internal server error occurred""
Related push logging:

[code]

Maybe related: https://cocoapods.org/pods/TDRedux.swift returning a page says `Internal Server Error` after I got the push error.

[2016-11-18 00:47] segiddins commented on #207
I'm guessing https://github.com/CocoaPods/trunk.cocoapods.org/pull/205 somehow broke it, but I'm confused how

[2016-11-18 00:56] NicholasTD07 commented on #207
Thanks for the fast response. :)

Is there anything I can provide you to make you debug this easier?

A few things which might help:

**Repo**: https://github.com/NicholasTD07/TDRedux.swift

**How To Reproduce**:

- Clone the repo
- Try to push (if you send me your email, I can add you as an owner of the pod)

[2016-11-18 00:59] NicholasTD07 commented on #207
@segiddins ^ Forgot to at you

[2016-11-18 01:00] mikeblanton commented on #207
I'm having the same problem trying to update https://cocoapods.org/pods/AffirmSDK... Searching on the web shows it's been updated to 2.2.0 (which is the version we're trying to push), but `pod search AffirmSDK` shows 2.1.1 as the latest. The podspec we're trying to push is at https://github.com/Affirm/affirm-ios-sdk/blob/master/AffirmSDK.podspec.

[2016-11-18 01:19] ruddfawcett commented on #207
I am also having the same problem updating [Notepad](https://github.com/ruddfawcett/Notepad). Searching "Notepad" [shows the updated version](https://cocoapods.org/?q=notepad) (0.2.2). When I go to visit https://cocoapods.org/pods/Notepad I'm getting a 500 Internal Service error as well.

[2016-11-18 02:40] segiddins commented on #207
I've disable pushes and am working on fixing things as we speak

[2016-11-18 03:03] NicholasTD07 commented on #207
@segiddins Thank you 👍

[2016-11-18 03:05] segiddins commented on #207
Looks like it might be an issue with the GitHub API, that's the only conclusion I've been able to come to so far

[2016-11-18 03:26] segiddins commented on #207
The following request to GitHub is failing:

[code]

[2016-11-18 04:49] segiddins commented on #207
Fixed.
Turns out, a commit had succeeded and was in the git repo, but github's API didn't have it as the HEAD commit for master. I discovered this when I pulled the specs repo and discovered the head commit was  `8532b73b2869f30b7dfe0f26a4531554675ea723`, rather than the `aa76817551c4a27fc4166757ac6c212134519394` the gh web UI was showing. The issue was resolved by running `git pull && git checkou

[2016-11-18 04:49] #207 closed

[2016-11-18 18:11] segiddins commented on #207
@ MikeMcQuaid any chance you or someone at GitHub could shed some light on what happened here, and if there was something we should be doing to avoid this happening again? No rush since I managed to get the immediate issue resolved last night, just looking for some peace of mind. Thanks 🙌

[2016-11-20 10:09] MikeMcQuaid commented on #207
@segiddins You're best to contact GitHub support for such things rather than CCing me (or any other employee) directly. Our support team will be able to help more than I will. Sorry and thanks!

[2016-11-23 16:58] frankus opened #211 "Delete version causing internal server error"
### Steps to Reproduce

1. Run `pod trunk delete apptentive-ios 3.3.2` (from an authorized account)

[code]

2. Enter `y` at the prompt

### Expected:

Deletes the version.

### Actual:

Prints:
[code]

[2016-11-23 18:22] segiddins commented on #211
Internal ref https://trunk.cocoapods.org/manage/log_messages?reference=PushJob%20with%20temporary%20ID:%2070177141040920

[2016-11-24 09:40] andrew opened #212 "Deprecating pods puts them in the wrong place in Specs repo"
There are some pods showing up in the old layout of the Specs repo, looks like all of them are ones that have been recently deprecated so I'd guess the deprecate command hasn't been updated to handle the new layout?

![screen shot 2016-11-24 at 9 34 15 am](https://cloud.githubusercontent.com/assets/1060/20593335/e15f12a2-b229-11e6-9c04-f75b88049658.png)

[2016-11-24 17:09] huangminlinux opened #213 "pod trunk delete *** 2.2.0 NOT WORK"

[2016-11-24 17:33] huangminlinux commented on #211
I get the same issue , I click to this ref ,It need input a account ,is cocoapod account ? I think I forgot the password, how to reset the password or get the password?

[2016-11-30 02:00] Tang8330 commented on #213
+1

[2016-11-30 02:00] Tang8330 commented on #211
+1 i am unable to delete as well.

[2016-11-30 03:21] segiddins commented on #211
It's trying to delete the preshard path from GitHub, but I don't have the time to fix this at the moment

[2016-11-30 06:45] orta commented on #213
Closing as dupe of https://github.com/CocoaPods/trunk.cocoapods.org/issues/211

[2016-11-30 06:45] #213 closed

[2016-11-30 06:46] orta commented on #212
Thanks sir, that was enough to know what the problem is, the root behaviour is in https://github.com/CocoaPods/trunk.cocoapods.org/issues/211

However, I think we'll have to look at deleting those new folders, so I'm keeping this open to represent that action

[2016-12-01 20:41] #211 closed

[2016-12-01 20:48] orta commented on #211
This is now fixed and confirmed

[2016-12-04 10:10] orta commented on #168
#206 did not fix it alas and was reverted

[2016-12-04 16:42] segiddins commented on #168
I think what we may need to do is redirect to the push jobs API endpoint?

[2016-12-04 18:25] orta commented on #168
that 's what we do now I think, was thinking of adding an API route for whether a pod was deleted  `GET /api/v1/pod/:name/:version/deleted` that can return `{pod: "name", version: "1.0.3", deleted: true}`

[2016-12-12 00:47] anowell commented on #181
I also have this problem. I pushed `algorithmia` a bit hastily before realizing capitalized pods are more common. Shortly after I deleted the published versions and tried to push with a rename, but still get the error that the name is taken.

[code]

[code]

As far as I can tell, I can only find mention of the pod name when doing `pod trunk me`, so I thought removing myself as an owner, might work

[2016-12-12 05:28] segiddins commented on #181
@anowell as I posted earlier, you'd have to check the code to be 100% sure, but it would appear so

[2016-12-12 19:01] anowell commented on #181
At quick glance... it would seem publishing a version [creates a pod if it doesn't already exists here](https://github.com/CocoaPods/trunk.cocoapods.org/blob/be0a0cdbaf1f75b3c49a7823c6371a8e6f614952/app/controllers/api/pods_controller.rb#L154-L155), but [deleting a version only ever deletes that version](https://github.com/CocoaPods/trunk.cocoapods.org/blob/be0a0cdbaf1f75b3c49a7823c6371a8e6f614952

[2016-12-12 19:58] anowell commented on #181
At closer glance, the [pod gets marked as `:deleted` if there are no versions](https://github.com/CocoaPods/trunk.cocoapods.org/blob/0557330ca3a2ea1636cfefc43e3c1e7f916b7b1c/app/models/pod_version.rb#L83). So I'm assuming there is a strong preference for marking as deleted rather than fully deleting (not surprising).

I can imagine a solution on-create that deletes if already marked 'deleted', rig

[2016-12-12 23:14] segiddins commented on #181
Yeah, I don't think that'd be acceptable, because it wouldn't keep the namespace linked to the original owners

[2016-12-13 00:14] anowell commented on #181
the latter example would keep 1 original owner intact (at least on the transaction level), and could be made to re-add all owners (probably not very elegant). I could try and propose a solution around explicitly checking for case difference on `trunk push` and actually updating the row with the new name (iff deleted - to avoid renaming pods that are being used).

But I sorta get the vibe that fina

[2016-12-13 09:34] segiddins commented on #181
@anowell I think so, sorry

[2016-12-13 14:53] orta commented on #181
There's also the fact that we keep file system representations. A change in case would mean a new folder, which isn't too bad - but it would also mean that people with case-insensitive file systems would break. Not sure it'd a good idea to support alas.

[2016-12-13 15:37] #181 closed

[2016-12-16 15:01] andrew commented on #212
pinging @orta to clean up these folders now that the bug has been fixed

[2016-12-16 16:33] orta commented on #212
Thanks - removed with https://github.com/CocoaPods/Specs/commit/7a8493c0d17d47bc618844cedf7ffad34e4a4555

@pallopmax @xtayga @GongChuanZan @malai520 @gianlucabertani @joselufo @jverkoey @tpinto @CheckRan  @ws00801526

I've removed duplicate and _unused_ podspecs for your libraries due to a trunk bug - I would recommend running the deprecate command again on your libraries, this time it should work

[2016-12-16 16:33] #212 closed

[2017-01-11 06:46] huangminlinux opened #217 "pod trunk push fail"
My pod version
[code]

I try to push  my sdk to cocoapods
[code]

But it fail when Building with xcodebuild, I get the error
[code]

because my SDK don't support to i386. so it will fail in i386.

Are there any way to ignore the error, I just don't want to support to i386

[2017-01-11 11:14] segiddins commented on #217
This is not an issue with the trunk web service but rather a usage question that better belongs on a forum such as stack overflow.

[2017-01-11 11:14] #217 closed

[2017-01-11 15:40] huangminlinux commented on #217
Can you answer my question?   In:

[code]

please.

[2017-01-24 18:48] katejaiheelee commented on #155
Anybody found a workaround for this issue?

[2017-01-31 11:22] DmitryFrishbuter opened #219 "Unable to delete podspec with 'pod trunk delete'"
'pod trunk me' returns this:
[code]
But when I try to delete podspec using 'pod trunk delete RSBTableViewManager 0.0.4', terminal returns an error: "No pod found with the specified name."

[2017-01-31 13:44] orta commented on #219
Probably just a bad error message, looks like it was deleted:

![screen shot 2017-01-31 at 8 44 29 am](https://cloud.githubusercontent.com/assets/49038/22467158/7f447600-e791-11e6-865b-eba53e9becf8.png)

[2017-02-01 03:05] DmitryFrishbuter commented on #219
Yes, this pod is not exists anymore. But 'pod trunk me' tells, that the pod exists.

[2017-02-01 03:07] orta commented on #219
I don't think we should hide that ( considering you are the only person allowed to push a new pod version with that name now ) but I would definitely accept a PR to this + cocoapods-trunk that makes it say "(deleted)" after.

[2017-02-01 03:16] DmitryFrishbuter commented on #219
![screen shot 2017-02-01 at 09 15 36](https://cloud.githubusercontent.com/assets/10647202/22494139/251e6054-e85f-11e6-8617-764182954f11.png)

[2017-02-01 03:17] orta commented on #219
You already own it though...

[2017-02-01 03:19] DmitryFrishbuter commented on #219
So what should I do to delete this?

[2017-02-01 03:21] DmitryFrishbuter commented on #219
How to make it say deleted?

[2017-02-01 03:22] orta commented on #219
It is deleted, I confirmed that in the first reply.

Fork https://github.com/cocoapods/cocoapods-trunk and check out the code for the `me` command.

[2017-02-01 03:28] DmitryFrishbuter commented on #219
Ok, thanks:)

[2017-02-01 03:52] DmitryFrishbuter commented on #219
I'm not familiar with ruby development. Can you please tell me what should I fix in code,  and how to use this code after fixing?

[2017-02-07 08:09] DmitryFrishbuter commented on #219
Could you help me please?

[2017-02-07 15:03] devxoul opened #220 "Internal Server Error when pushing a new version"
I was trying to release a new version(2.0.2) of [Toaster](https://github.com/devxoul/Toaster) but got an internal server error. [Toaster CocoaPods page](http://cocoapods.org/pods/Toaster) is currently displaying as an Internal Server Error. This is how I've done:

[code]
And this is a human readable JSON of podspec:

[code]

[2017-02-07 16:40] segiddins commented on #220
Thanks for the heads up -- please try again now!

[2017-02-07 17:09] devxoul commented on #220
@segiddins Cool! It works. Thanks :tada:

[code]

[2017-02-07 17:09] #220 closed

[2017-02-07 18:00] tallytalwar commented on #155
Yeah this is still not working. Is there any work around we can use for the time being?

[2017-02-15 11:06] redwerk opened #221 "Was created 6 copies of same pod"
Was created 6 copies of same pod. Name of pod is CircleAnimatedMenu. Every time I changed version and typed "pod trunk push CircleAnimatedMenu.podspec". First 5 times it was with warnings. Last  - without.  I don't know is it because of my mistakes or not ? How can I remove redundant copies and leave only one?

[2017-02-15 11:07] #221 closed

[2017-02-15 11:08] honcharenko13 opened #222 "Was created 6 copies of same pod"
Was created 6 copies of same pod. Name of pod is CircleAnimatedMenu. Every time I changed version and typed "pod trunk push CircleAnimatedMenu.podspec". First 5 times it was with warnings. Last - without. I don't know is it because of my mistakes or not ? How can I remove redundant copies and leave only one?

[2017-02-15 11:09] orta commented on #222
This is likely just a bug on the search, occasionally it pops up and then disappears within a day, we don't allow duplicates in the database - this should be fine

[2017-02-15 12:02] honcharenko13 commented on #222
Thanks for quick answer.

[2017-02-15 12:02] #222 closed

[2017-02-17 12:33] lstemerdink commented on #155
Hello @orta,

Seeing that many people are still running into this issue, could you provide us with an update as to what is the status of this issue? I would like to fix a naming error that I made whilst setting up a session with trunk.
I read in another thread concerning this same issue that "[pod trunk register will create a new account with the new email, not re-name it.](https://github.com/Coco

[2017-02-17 12:35] orta commented on #155
As I've mentioned, we've taken a look over it and couldn't find any obvious answers. You're welcome to take a look at figuring it out and writing a PR fixing it 👍

We work on CocoaPods in our spare time, so there is no schedule for fixing it and as this is the canonical issue for the problem - so any notes from others looking at it would go here

[2017-02-18 22:43] cbess commented on #142
I'm running into this issue with `quantumquinn.com`

[2017-03-02 13:33] ammy123cool opened #223 "Delete trunk pod[Urgent]"
Hi,

I was testing cocopods integration from my github test account and have made the pod trunk named 'SwyftSDK' with my git account 'anjalidhawan64@gmail.com'.
Now, I want to create the 'SwyftSDk' pod with my live github account and while doing so it gives me error that "The pos is registered with anjalidhawan64@gmail.com".

Request you to to please delete the pod SwyftSDK from anajalidhawan64@gm

[2017-03-02 13:50] ammy123cool commented on #223
Resolved it.

[2017-03-02 13:50] #223 closed

[2017-03-03 11:06] Boelensman1 opened #224 "Links to the Gemfile and Rakefile in readme.md are broken"
In the installation instructions these two files are referenced:
https://raw.github.com/CocoaPods/Specs/master/Gemfile
https://raw.github.com/CocoaPods/Specs/master/Rakefile
But those are no longer in the repository.

I'm not sure where to find the (current version) of those files.

[2017-03-04 04:05] orta commented on #224
@alloy I'm not really sure what those files are for also, now that I read that paragraph?

[2017-03-04 07:03] ripperhe commented on #168
I don't understand how to get rid of the error，please tell me in detail. @orta 😁

[2017-03-04 08:39] Coeur commented on #168
@ripperhe to my understanding, the issue is still open, so you can't get rid of the error. But the deletion is still a success: if you attempt to delete a second time, it will tell you it's already deleted.

[2017-03-04 12:25] ripperhe commented on #168
@Coeur ok, I get it. thank you!

[2017-03-04 19:05] alloy commented on #224
Yah, I have no idea either anymore. Does everything work without those files?

[2017-03-05 16:00] Boelensman1 commented on #224
No, but I'm not sure if that's related to those files.
I can install just fine and using these instructions https://github.com/CocoaPods/trunk.cocoapods.org/issues/201 the database bootstrap works as well.
But when running rake serve I get the following error:
`/private/tmp/trunk/app/models/commit.rb:24:in 'alias_method': undefined method 'imported' for class 'Pod::TrunkApp::Commit' (NameError)`
I

[2017-03-07 12:14] orta commented on #224
I think the instructions may need updating to use humus, the repo, on phone
so no links

On Mar 6, 2017 1:00 AM, "Wigger Boelens" <notifications@github.com> wrote:

[2017-03-20 07:06] #219 closed

[2017-03-20 07:06] DmitryFrishbuter commented on #219
Thanks

[2017-03-27 14:02] herzi opened #225 "CocoaPods Trunk does not seem to like Version Numbers containing "+" symbols"
At AddApptr, we are providing a binary only SDK called [AATKit](https://cocoapods.org/pods/AATKit). Today I wanted to release a modified version of the spec (with the binary upload on our servers unchanged), however I failed to do so.

As only the spec file was modified, I did not want to release a new version and instead use a semver feature to append "+cocoapods.1" to the previous version.

Howe

[2017-03-27 14:51] orta commented on #225
That should be allowed, as it is [correct semver](http://semver.org):

Sounds like a bug with trunk, yeah.

[2017-04-06 08:15] scinfu commented on #155
Ny news?

[2017-04-06 08:28] orta commented on #155
Nope, otherwise there would be a mention in this issue.

[2017-04-07 21:24] ArtSabintsev opened #226 "Issue Deprecating Two Libraries"
Hi,

My former employer, www.ID.me, has asked that I deprecate and/or delete the following four Pods that I own/co-own.

- `IDmeVerify`
- `IDmeWebVerify`
- `ID.me WebVerify`
- `IDmeSDK`

I was able to deprecate `IDmeVerify`, However, I am not able to deprecate the other three libraries.

Here are the errors I get:

For `pod trunk deprecate ID%2Eme%20WebVerify`:
[code]

For `pod trunk deprecate IDm

[2017-04-07 21:25] ArtSabintsev commented on #226
cc @tonyhuynh @sdownie

[2017-04-07 21:39] orta commented on #226
These succeeded - you just hit #168 and #211

[2017-04-07 21:39] #226 closed

[2017-04-07 22:05] ArtSabintsev commented on #226
@orta how long does it take for the cocoapods.org site to update their status so that they're greyed out and state that their deprecated?

[2017-04-08 03:21] ArtSabintsev commented on #226
ok, looks like we're almost there:

[code]

[2017-04-08 07:09] ArtSabintsev commented on #226
I think they're going to stick with IDmeWebVerify. If not, I will attempt (again) to deprecate it next week.

Thanks for your help on here and on SO, @orta!

[2017-04-08 13:32] orta commented on #226
No worries! 👍

[2017-04-23 13:45] xclidongbo opened #227 "I cant receive the email"
lidongbo:XCkit lidongbo$ pod trunk me
[!] Authentication token is invalid or unverified. Either verify it with the email that was sent or register a new session.
lidongbo:XCkit lidongbo$ pod trunk register xclidongbo@gmail.com 'xclidongbo' --description='macboo
kpro'
[!] Please verify the session by clicking the link in the verification email that has been sent to xclidongbo@gmail.com

[2017-04-27 00:34] #227 closed

[2017-04-27 20:47] paynerc commented on #155
The issue is here: https://github.com/CocoaPods/trunk.cocoapods.org/blob/master/app/controllers/api/sessions_controller.rb#L12

When you run the `pod trunk register` command, it doesn't include the Authorization header, therefore `@owner` will never be present.

After looking over this, I think this code is correct. I don't want any random person being able to submit a session registration for an

[2017-04-27 21:16] tallytalwar commented on #155
@paynerc greatness. Thanks a ton. Works superb.

For those looking for your `Authorization Token`. Once you are in a cocoapod session, do the following:

[code]

[2017-04-28 01:31] meilbn commented on #155
@tallytalwar This command just print:

[code]

Is ``password`` is the Token?

Thanks!

[2017-04-28 01:33] tallytalwar commented on #155
Yup password is the token

[2017-04-28 01:44] meilbn commented on #155
@tallytalwar  Thanks!
But...Are you changed your name succeed?
I tried paynerc's solution, but my name still is old name, doesn't changed.
😔

[2017-04-28 01:54] meilbn commented on #155
Oh yeah!
Worked, first try I clicked verify link in my mail, seems failed, CocoaPods web site tell me I'm set up, but in terminal, run ``pod trunk me``, print:

[code]

And second try is succeed.

Thanks, also thanks paynerc.

[2017-04-28 08:56] orta commented on #155
Great work @paynerc, interesting.

A quick look through the [me command](https://github.com/CocoaPods/cocoapods-trunk/blob/master/lib/pod/command/trunk/me.rb) makes me think that we can't reasonably offer the ability to rename in this command. If you're using it to change your current login then sending auth for your current login seems pretty illogical.

I guess we'll need a new command for renam

[2017-04-28 11:19] paynerc commented on #155
@orta Yeah, it seems counterintuitive to have to have a valid session first and then create a new one just to change your name.

The only way I think changing the name on session registration would work is that fora name change, the new name is stored somewhere temporarily and only overwriting the previous name on the verify action.

[2017-04-28 12:48] orta commented on #155
I've shipped a PR adding the command `pod trunk me rename NAME` thanks to this research - thanks https://github.com/CocoaPods/cocoapods-trunk/pull/92

[2017-05-11 10:21] lyc2345 commented on #155
pod trunk me rename 'Stan Liu'
[!] Unknown command: `rename`
There is no this command. Is another workaround to change trunk name?

[2017-05-30 03:59] hemangshah commented on #168
Is this issue still open or fixed? I am almost to the same error and opened the same issue [here](https://github.com/CocoaPods/CocoaPods/issues/6759).

[2017-06-06 09:22] orta commented on #168
Yeah, there was something that came up that required more work than I had time for and I've not got back to it, so the issue still exists.

[2017-06-28 06:01] kwosu87 commented on #155
@lyc2345 I changed my name using paynerc's solution. You should try it. Check out the command below because paynerc's command is a little confused to me. Just replace capital characters with your information.

`curl -v -H "Authorization: YOUR_TOKEN" -H "Content-Type: application/json" -X POST -d '{"email":"YOUR_MAIL","name":"NEW_NAME","description":"YOUR_DESCRIPTION"}' https://trunk.cocoapods.org/

[2017-07-06 21:33] sid-github commented on #155
Worked for me too, I had to "Confirm the session" twice for this to work, first time to get an auth token and second time to update the name.

[2017-08-15 13:47] LIZUBA commented on #168
the same error

[2017-09-08 16:37] chernyog commented on #202
Try again two times，and then will be succeed.

may be tips:
**[!] The version is already deleted.**

[2017-09-25 04:25] Coeur opened #232 "Pod with source repo deleted: shall we deprecate the pod?"
I found https://cocoapods.org/pods/SKUMShareView no longer exists on Github. So installing the pod is not possible anymore.

I'm not the owner of this pod, but can I submit a pull request to make it deprecated? Or are there better solutions?

[2017-09-25 05:38] dnkoutso commented on #232
If you click on the "See podspec" it takes me to this page https://github.com/CocoaPods/Specs/blob/master/Specs/a/0/f/SKUMShareView/1.0.3/SKUMShareView.podspec.json

[2017-09-25 05:39] dnkoutso commented on #232
OH, nevermind the actual github repo for its source is no longer present. To my knowledge we do not manually manage this and let owners instead.

[2017-09-25 05:58] Coeur commented on #232
But owner probably doesn't care...
So there is no action we can take to hide this broken pod?

[2017-09-25 11:14] orta commented on #232
Afraid not, we (as the core team) don't police the Specs repo unless it's actively hurting the community, it's up to the owners to decide to have it pulled. Send them an email?

[2017-09-25 11:14] #232 closed

[2017-09-25 11:28] Coeur commented on #232
@orta

This will automatically return a **404 Not Found**:

    $ curl -i "https://api.github.com/repos/ZhaoBingDong/SKUMShareView"

So we could automate hiding some specs which are based on dead sources.

[2017-09-25 11:35] orta commented on #232
Yeah, in theory metrics.cocoapods.org could add that kind of information, and search could use it to reduce it's ranking, the worrying bit is false positives  and supporting every host.

[2017-10-23 00:58] alexsorokoletov opened #233 "pods/WMGaugeView/specs/latest returns broken link"
The url redirects to a wrong (404) place and doesn't show podspec.

`https://trunk.cocoapods.org/api/v1/pods/WMGaugeView/specs/latest` -> `https://raw.githubusercontent.com/CocoaPods/Specs/4928f5386eae04ed2845d27683f15c633c6fd97a/Specs/WMGaugeView/0.0.3/WMGaugeView.podspec.json`

Instead, should go same place as this page: `https://cocoapods.org/?q=WMGaugeView` ->
 `https://github.com/CocoaPods/Sp

[2017-11-02 13:52] gbanfalvikl opened #234 "API request to specs/latest redirecting to wrong URL"
We released a library `KlarnaCheckoutSDK` that we took down and put up again.

Now, requests to
`https://trunk.cocoapods.org/api/v1/pods/KlarnaCheckoutSDK/specs/latest` redirect to what is probably the previous version of the spec, and return a 404 with `curl -siL`.

Could you please update the spec URL? Thanks in advance!

[2017-11-02 13:54] orta commented on #234
Looks like a dupe of https://github.com/CocoaPods/trunk.cocoapods.org/issues/233

[2017-11-02 13:54] #234 closed

[2018-01-12 01:50] kylefleming opened #236 "pod trunk push error with binary hosted on github"
Mirroring https://github.com/CocoaPods/CocoaPods/issues/7143 as per @dnkoutso's suggestion:

# Report

## What did you do?

* Created podspec for version 3.3.0 of OpenCV. The `source` is a zip file hosted on github:
https://github.com/kylefleming/opencv/releases/download/3.3.0/opencv-3.3.0-ios-osx-framework.zip
* Ran:
[code]
* Received the following error:
[code]

Judging by issues https://github.

[2018-01-28 05:57] jonkykong commented on #233
+1. Is this still an active issue?

Our repo:
https://trunk.cocoapods.org/api/v1/pods/KR8OS/specs/latest -> 404
https://trunk.cocoapods.org/api/v1/pods/KR8OS/specs/1.0.0 -> OK

Our repo was published 3 days ago. This appears to be affecting the shields.io badges where they resolve as "invalid". See https://img.shields.io/cocoapods/l/KR8OS.svg?style=flat

[2018-02-16 02:14] PoojaChirp commented on #107
Hi Cocoapods team,

I have got the similar issue. I'm trying to delete a few pods that were added. Every time I run the command -"pod trunk deprecate <pod name> " I get the following output "[!] No pod found with the specified name.". Though "pod trunk me" lists all of these pods.  Please help!

[2018-02-16 02:20] PoojaChirp opened #237 "Delete a few pods and update pod names"
Hi CocoaPods team-

I'm trying to push a few pods with slight changes in the pod names. For eg: abcPods to ABCPods, I'm unable to succeed with this request as I get an error stating -"[!] {"name"=>["is already taken"]}".

Also, if I try to delete those pod, I get an output stating -"[!] No pod found with the specified name." though pod trunk me lists all of these pods.

Can you please suggest a so

[2018-02-16 05:20] segiddins commented on #237
At the moment, changing the case of a pod is not possible

[2018-02-16 15:14] PoojaChirp commented on #237
Thank you @segiddins. What about the deletion of the pods? Is there a known issue associated with it?

[2018-03-08 08:13] WirecardMobileServices opened #239 "specs/latest returns 404: not found"
Recently pushed WDePOS pod - which shows OK in cocoapods but returns 404 when getting the latest spec:
https://trunk.cocoapods.org/api/v1/pods/WDePOS/specs/latest

This than shows "Invalid pod" badge in readme file.

If the release version is specified the proper podspec json is returned:
https://trunk.cocoapods.org/api/v1/pods/WDePOS/specs/2.3.0

[2018-03-08 12:06] orta commented on #239
This link just worked fine for me now, could have been temporary?

[2018-03-08 12:12] WirecardMobileServices commented on #239
https://trunk.cocoapods.org/api/v1/pods/WDePOS/specs/latest
It downloads WDePOS.podspec.json - however the contents of the file is "404: Not Found" - which is wrong - it should be the JSON representation of the podspec file

[2018-05-02 02:09] Coeur commented on #236
@dnkoutso any update on this? We can't push to trunk anymore.

[2018-06-29 20:06] shawnkc opened #240 "Internal Error when submitting podspec"
* [X] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Ran `pod trunk push --verbose AdColony.podspec`

## What did you expect to happen?

Update the master podspec repo.

## What happened instead?

Internal error occurred:

opening connection to trunk

[2018-06-29 21:45] segiddins commented on #240
[code]

[2018-06-29 21:47] shawnkc commented on #240
Thanks! Good to know, how can I change my name?

[2018-06-29 21:53] shawnkc commented on #240
I had already tried:
`pod trunk register _my_email_ '_my_name_' ...`
To override it, but it didn't change the previously registered name.

[2018-06-29 22:03] segiddins commented on #240
That might be https://github.com/CocoaPods/trunk.cocoapods.org/issues/155 :/

[2018-07-04 21:04] kylefleming commented on #236
I'm still having issues with this. Can you verify that the update of `cocoapods-core` to v1.5.0 in `trunk.cocoapods.org` (https://github.com/CocoaPods/trunk.cocoapods.org/commit/af8bc912bcfdd35e298eeb49670d47c224bd04c8) has been deployed to production?

[2018-07-08 22:57] segiddins commented on #236
Deploying it right now

[2018-07-09 17:05] kylefleming commented on #236
Resolved. Thank you!

[2018-07-09 17:05] #236 closed

[2018-07-18 12:34] Cyberbeni opened #241 ""Failed" release, cocoapods.org shows internal server error"
I tried installing the new version yesterday and it worked but cocoapods site gives internal server error. `pod search` also can't find it but it's in the master podspec repo. `pod trunk push` also returned internal server error.

https://github.com/CocoaPods/Specs/tree/8991a862b304ab8397afbe5ec218bcd81399c849/Specs/b/5/1/QueryItemEncoder

https://cocoapods.org/pods/queryitemencoder

https://githu

[2018-11-08 18:13] wuf810 commented on #168
The issue still exists. Any chance as this essentially breaks any scripts (expecting a success response).

[2018-11-08 18:17] orta commented on #168
It's been an issue since 2016, so it's more likely that a script could break if someone fixes the issue.

[2018-11-09 04:53] pruthvin17 opened #243 "New Pod Publish URL is getting redirected to Home page URL."
Report
What did you do?

pod trunk push
What did you expect to happen?

IBMMobileFirstPlatformFoundationAnalytics should be displayed in cocoapods.
The https://cocoapods.org/pods/IBMMobileFirstPlatformFoundationAnalytics should redirect to cocoapods and the artifact displayed.

What happened instead?

Pod published Successfully, but URL is getting redirected to Home page URL.
Further the artifact

[2018-11-09 04:55] pruthvin17 commented on #243
I had reported the issue in https://github.com/CocoaPods/CocoaPods/issues/8184
Wasnt aware i had to raise it here. I was recently redirected to this git repo.
Please check.

[2018-11-09 13:36] orta commented on #243
Your homepage is set as your license: https://github.com/CocoaPods/Specs/blob/master/Specs/0/3/5/IBMMobileFirstPlatformFoundationPush/8.0.2018022719/IBMMobileFirstPlatformFoundationPush.podspec.json#L10

This URL can be whatever you'd like it to be, so I'd recommend changing it to a new URL.

[2018-11-09 13:36] #243 closed

[2019-01-09 14:43] #156 closed

[2019-01-10 10:46] anand-plivo opened #251 "pods page is returning internal server error"
We released a new version v2.1.0 and pod page started to show internal server error.
https://cocoapods.org/pods/PlivoVoiceKit

![screenshot 2019-01-10 at 4 14 33 pm](https://user-images.githubusercontent.com/40763360/50963530-fcf3fb80-14f2-11e9-9389-e69b274295ec.png)

[2019-01-10 13:28] philmartin83 opened #252 "Trying to claim a pod. But Pod is not found"
Hi,
I'm trying to claim a pod, but I get "Unknown pod" but when I try and trunk push I get the error of **"You (<me>) are not allowed to push new versions for this pod. The owners of this pod are <someone-else>."**

But when I try and do **pod trunk info ConsentSDK.podspec** I get this "No pod found" with the specified name"

But when I search for the pod on the https://cocoapods.org it appears bu

[2019-01-10 13:45] orta commented on #252
`pod trunk info` works with the name of the Pod, not the Podspec - it looks like someone deleted all of the copies of ConsentSDK so it won't show up in other places

[2019-01-10 14:00] philmartin83 commented on #252
➜  tamoco-consent-sdk git:(master) ✗ pod trunk info ConsentSDK
Ignoring ffi-1.9.25 because its extensions are not built.  Try: gem pristine ffi --version 1.9.25
Ignoring redcarpet-3.4.0 because its extensions are not built.  Try: gem pristine redcarpet --version 3.4.0
Ignoring unf_ext-0.0.7.5 because its extensions are not built.  Try: gem pristine unf_ext --version 0.0.7.5
[!] No pod found with t

[2019-01-10 14:02] orta commented on #252
Did you own the original? If not then yeah, you'll have to use a different name I'm afraid

[2019-01-10 15:40] philmartin83 commented on #252
The company owns the original but the original creator is no longer around and there is no shared ownership of the pod so I would assume in that scenario we would still need to change the name.

[2019-01-10 16:30] philmartin83 commented on #252
And does changing the name of the podspec mean I have to change the name of my Framework or just the pod spec name

[2019-01-10 23:41] richard-jeon opened #253 "No email received for 'pod trunk register'"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

pod trunk register richard.jeon@kakaocorp.com 'Richard Jeon' --description='Richard MacBook'

## What did you expect to happen?

receive a verification email

## What happened instead?

no email

#

[2019-01-28 02:35] qkzhu commented on #42
Is there any update on this? I have the same problem.

[2019-02-08 15:59] bensmiley opened #254 "No email received for 'pod trunk register'"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

`pod trunk register team@chatsdk.co 'Ben Smiley' --description="macbook pro old"`

## What did you expect to happen?

I would have expected an email confirmation.

## What happened instead?

No ema

[2019-02-08 21:32] orta commented on #254
From our side it shows as being received and processed by your mail servers, maybe in spam?

<img width="977" alt="screen shot 2019-02-08 at 4 31 58 pm" src="https://user-images.githubusercontent.com/49038/52507301-1f933600-2bbf-11e9-94c8-787183c16ced.png">

[2019-02-09 12:59] bensmiley commented on #254
The email arrived after some hours. Thanks for following up!

[2019-02-09 12:59] #254 closed

[2019-03-19 16:32] dave-w3w opened #259 "Cocoapods claim won't work"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

pod trunk push what3words.podspec

## What did you expect to happen?

what3words.podspec to be published

## What happened instead?

"You (cxxxxxxxxxt@what3words.com) are not allowed to push new ve

[2019-03-20 08:12] sroik opened #255 "pod repo push fails with unknown error"
Validating spec:
...
- ERROR | [iOS] unknown: Encountered an unknown error (434: unexpected token at '{
        "availability" : "(available)",
        "state" : "Shutdown",
        "isAvailable" : true,
        "name" : "iPhone 8",

[2019-03-26 18:46] romoore opened #257 "`pod trunk push` failing with server response, "- Warnings: Unrecognized `test_specification` key.""
Material Components for iOS is attempting to publish [our latest release (v80.0.0)](https://github.com/material-components/material-components-ios/releases/tag/v80.0.0) to trunk and everything passes local validation (we use `--skip-tests`) but fails with the server response. We've tried pushing with both versions 1.6.0 and 1.6.1 of CocoaPods.  In both cases, we get the same error.

[code]

## Log

[2019-03-27 11:03] orta commented on #257
Interesting, I think trunk is on the latest CocoaPods beta, can you see if it fails with that? If so then it might be a bug with that release

[2019-03-27 11:21] ERussel commented on #257
I have also tried on 1.7.0.beta.2 and can confirm the same error

[2019-03-27 17:40] dnkoutso commented on #257
@romoore what does `pod ipc spec MaterialComponents.podspec` output for you.

For me it has:
[code]

[2019-03-27 17:41] dnkoutso commented on #257
The output I pasted above is with master (89d4d79864ba471d097c1a4d96f67ba357b32256).

Trying with 1.7.0.beta.2

[2019-03-27 17:43] yarneo commented on #257
Hi @dnkoutso , I work with Rob and have also encountered the same issue. We were able to push using `--allow-warnings`. So version 80.0.0 that was published last night was the one that caused the issues.

This is what I'm getting:
[code]

Also using 1.7.0.beta.2

[2019-03-27 17:50] dnkoutso commented on #257
@yarneo thanks, looking further into this as I do not see such key `test_specification` in the output of JSON.

Are you sure this was the warning and not this https://github.com/CocoaPods/CocoaPods/issues/8635?

[2019-03-27 17:53] yarneo commented on #257
I am positive, and we were also confused as to why it was complaining about that key. We tried it with 3 difference computers and with Ruby versions of 2.3.8 and 2.6, also with CocoaPods 1.6 and 1.7.0.beta.2.

All show this warning:
[code]

[2019-03-27 17:54] dnkoutso commented on #257
Ruby version shouldn't matter here....I am still very puzzled what is the podspec in your repo you are trying to publish maybe we are looking at the wrong one.

[2019-03-27 17:55] yarneo commented on #257
https://github.com/material-components/material-components-ios/blob/stable/MaterialComponents.podspec is the podspec we tried to publish

[2019-03-27 17:57] dnkoutso commented on #257
Hm there is no such key produced in JSON.......... so weird. looking further.

[2019-03-27 18:01] dnkoutso commented on #257
There was this fix https://github.com/CocoaPods/Core/pull/523 but I should have been able to reproduce is what is puzzling.

[2019-03-27 18:08] dnkoutso commented on #257
I may have a lead...

[2019-03-27 18:11] dnkoutso commented on #257
@yarneo https://github.com/CocoaPods/Specs/blob/master/Specs/0/1/9/MaterialComponents/80.0.0/MaterialComponents.podspec.json#L45

I believe this is fixed with CocoaPods/Core#523

[2019-03-27 18:18] dnkoutso commented on #257
Yes confirmed. The issue has been fixed and I will publish 1.7.0.beta.3 which will update trunk to do the right thing as well.

This is a bug in publishing of 1.7.0.beta.1 and beta.2 in which those fields are injected to the JSON automatically but are not official DSL keys.

Will close once beta.3 is out and trunk is updated.

[2019-03-27 18:28] yarneo commented on #257
Awesome! Thank you @dnkoutso !

[2019-03-27 19:53] dnkoutso commented on #257
I published core 1.7.0.beta.3 but Travis is having issues currently. Trying to publish CocoaPods 1.7.0.beta.3

[2019-03-28 00:40] dnkoutso commented on #252
Can change spec name without changing framework name.

[2019-03-28 00:40] #252 closed

[2019-03-28 00:52] dnkoutso commented on #257
Cocoapods 1.7.0.beta.3 was released today. PR open that fixes this issue.

[2019-03-28 00:57] #257 closed

[2019-04-04 18:22] lilyball commented on #155
Can we please get this fixed? Looking at the code @paynerc cited, my impression is the problem is that it's trying to set the owner name at the point where you attempt the registration, not the point where you confirm the session. If so, that's the big problem. The "confirm your session" should use the name supplied during the registration but not actually save that to the database yet, and then a

[2019-04-09 18:01] Sajjon commented on #168
Still an issue.

[2019-04-10 10:22] paulz commented on #255
experiencing the same error:
[code]

while running: `bundle exec pod lib lint`
https://travis-ci.org/paulz/PerspectiveTransform/jobs/517979013#L859
but retrying it with `bundle exec pod lib lint --verbose --no-clean` succeeds

[2019-04-10 19:01] jameseunson opened #260 "Trunk auth appears to be down"
* [X] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
Ran `pod trunk register my@email.com 'James Eunson'`.

## What did you expect to happen?
Received an email as expected. Clicked link expecting registration successful.

## What happened instead?
Reg

[2019-04-18 10:41] jb0o opened #261 "pod trunk email not being sent"
* [√] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
Ran ```pod trunk register valeriy.dyryavyy@partnerize.com 'Val'```

## What did you expect to happen?
Email to be sent to valeriy.dyryavyy@partnerize.com

## What happened instead?
Email was not rec

[2019-04-18 14:11] orta commented on #261
Supposedly it was disabled?

<img width="1081" alt="Screen Shot 2019-04-18 at 10 10 53 AM" src="https://user-images.githubusercontent.com/49038/56366981-4626ac00-61c2-11e9-804f-97040461dccf.png">

I've removed the block on that email, so it will try again next time you register 👍

[2019-04-18 14:11] #261 closed

[2019-04-18 15:58] jb0o commented on #261
Legend, thanks for that.

He was a contractor for us so I assume his account was disabled when he finished his term. I can confirm I now have ownership over the Pod and I've given permission to an official DL to prevent this in future 👍

[2019-05-07 17:08] cai22r opened #262 "Pod URL is getting redirected to Home page (included Readme.md in my zipfile)"
Report
What did you do?

pod trunk push .podspec

What did you expect to happen?

MicrosoftMapsSDK should be displayed in cocoapods.
The https://cocoapods.org/pods/microsoftMapsSDK should redirect to cocoapods and the LandingPage displayed based on the included readme.md file

What happened instead?

Pod published Successfully, but URL is getting redirected to Home page URL.
Further the artifact M

[2019-05-07 17:13] orta commented on #262
If it's a closed source pod, then it could likely be https://github.com/CocoaPods/cocoapods-metadata-service/issues/1 or https://github.com/CocoaPods/cocoapods-metadata-service/issues/2

[2019-05-07 17:29] cai22r commented on #262
For the search indexing part, is it related as well, or i just have to wait for a period of time?

[2019-05-07 18:00] orta commented on #262
Nope, indexing for the website is separate, [looks like that's daily](https://github.com/CocoaPods/indexer.cocoapods.org/blob/master/src/index.ts#L33) - I wonder if that could move to hourly

[2019-06-07 00:40] hatjs880328s opened #264 "An internal server error occurred"
* [ ] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

pod trunk push /Users/shanwz/Desktop/IIPod/IIOCUtis/IIOCUtis.podspec --allow-warnings --verbose --skip-import-validation

## What did you expect to happen?

[!] An internal server error occurred. P

[2019-06-11 14:47] k-kruusi commented on #255
run pod update on your example project

[2019-06-18 15:24] tomacco commented on #168
Same here, just ran ` pod trunk delete PODNAME PODVERSION` and a "An unexpected error occurred:" message was returned along with a HTTP 400 error website.

[2019-06-19 09:28] Coeur commented on #168
If I knew how to fix it, I would, and I would deal with the potentially broken script when/if reported.

[2019-07-31 14:01] Scheidt-BachmannDeveloperSK opened #266 "new top-level domains not verifiable"
* [X] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
pod trunk register markus.schneider@plexx.digital

## What did you expect to happen?
I expected to see a message pointing me at an email with a confirmation link

## What happened instead?
Instead,

[2019-08-06 16:52] gcharita commented on #255
@k-kruusi your suggestion doesn't fix the issue. I temporarily used version 1.7.4 and worked correctly.

[2019-08-18 09:35] gringoireDM commented on #236
I am experiencing this issue.

This is the output I get when I try to `pod trunk push MyLib.podspec --allow-warnings --verbose`

[code]

This is my podspec
[code]

using `CocoaPods 1.7.5`

can somebody help?

[2019-10-11 02:39] zeinabch commented on #168
This is the error received:

Toggle navigation
About
Guides
Blog
Hello there, looks like you're lost.

Technically its a 404, but we're not too fussed.

CocoaPods is a project from

Boris Bügling, Marius Rackwitz, Orta Therox, Samuel Giddins, and The CocoaPods Dev Team with contributions from many, many others.

Lovingly sponsored by

Artsy, Button, Capital One, Discontinuity, Fingertips, Heroku,

[2019-11-10 16:34] ilyapuchka commented on #266
Face the same issue, can't push updates because of this

[2019-11-19 05:05] hzb opened #271 "All command `pod trunk` returns `No pod found with the specified name`"
#### Reproduce

- Run command `pod trunk me`, and get the result, everything is fine

[code]
- Run command `pod trunk add-owner podname other-email-address`

    tried to add a new owner, but I got error `No pod found with the specified name.`

#### More

All commands  start with `pod trunk` return error `No pod found with the specified name.`

[2019-11-19 05:05] dnkoutso commented on #271
Whats the pod name and the actual command you are running?

[2019-11-19 05:08] hzb commented on #271
@dnkoutso

Pod name is `notifylabel`, and the command I run is `pod trunk add-owner notifylabel hb@domain.com`, this email address is already registered on cocoapods.

[2019-11-19 05:13] dnkoutso commented on #271
I dont see an issue here, its already registered your email. Has the pod been deleted before?

[2019-11-19 05:17] hzb commented on #271
@dnkoutso

I was running command `pod trunk delete notifylabel 0.0.1`, but also get the same error  with information `No pod found with the specified name`.

[2019-11-19 05:19] dnkoutso commented on #271
the pod is currently deleted. You may want to republish for subsequent commands to work.

[2019-11-19 05:24] hzb commented on #271
@dnkoutso

I am a bit confused, if it has been deleted, why is it displayed when I run the command `pod trunk me`? And also I can search it on cocoapods.org.

[2019-11-19 05:25] dnkoutso commented on #271
the search is a known issue with indexer. The `pod trunk me` maybe it works as intended as this pod belongs to you since it was first registered with you.

[2019-11-19 05:31] hzb commented on #271
That means command `pod trunk delete` has problem too. Because I get the same error tip `No pod found with the specified name` when I run `pod trunk delete notifylabel 0.0.1`, and it was deleted actually.

[2019-11-25 11:37] hzb commented on #271
Fixed

[2019-11-25 11:37] #271 closed

[2019-12-14 00:53] MatrixSenpai opened #272 "Podspec does not update or register as deleted"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

`pod trunk push`

## What did you expect to happen?

Update or create a pod

## What happened instead?

I have a pod I'm trying to replace with a new version. The name differs in that certain lette

[2019-12-20 12:09] ad0ma opened #274 "Delete trunk pod[JsonUIRender]"
This pod name is not correct, it is a mistake ,please delete JsonUIRender from my pods。thanks！
my email is adomacn@gmail.com and name is adoma.

[2020-01-04 20:48] Ahmadalsofi opened #275 "New Session"
Hi There,

I'm trying to get a new session but i didn't received the email.

my email id: alsofiahmad@yahoo.com

[2020-01-11 16:21] #255 closed

[2020-01-23 07:34] VilemKurz opened #276 "No email received on pod trunk register"
`pod trunk register vilem.kurz@cocoaminers.com 'Vilem Kurz' --description='macbook pro touchb'`, but no email has been delivered. Checked, whether my email is not blacklisted, but that seems ok. My cocoapods version is latest, 1.8.4.

Could you check what is going on?

and, thank you for Cocoapods, it is really amazing 👍

[2020-01-24 16:26] VilemKurz commented on #276
Tried again now, and I got the email 🤷‍♂. Closing.

[2020-01-24 16:26] #276 closed

[2020-02-26 07:12] JohnHow0537 opened #277 "delete repo [MirageImagePicker]"
This pod pushed by mistake, it is private repo ,please delete MirageImagePicker from my pods。thanks！
my email is jianghao_jh@youzan.com and name is jianghao_jh.

[2020-02-26 07:55] onlyOneTwoOne opened #278 "delete repo [YZMeiyeTrackAnalytics]"
This pod pushed by mistake, it is private repo ,please delete YZMeiyeTrackAnalytics from my pods。thanks！
my email is hushengwu@youzan.com and name is hushengwu.

[2020-02-26 14:15] orta commented on #278
You can use the delete commands to remove pods yourself using the CLI

[2020-02-26 14:15] #278 closed

[2020-02-26 14:15] orta commented on #277
You can use the delete commands to remove pods yourself using the CLI

[2020-02-26 14:15] #277 closed

[2020-02-26 14:16] orta commented on #274
You can use the delete commands to remove pods yourself using the CLI

[2020-02-26 14:16] #274 closed

[2020-03-12 23:09] Ethella opened #279 "Re-publish package with capital name doesn't work"
I'm the owner of `Magic-sdk` package

published `Magic-sdk` first package https://github.com/CocoaPods/Specs/commit/940b9f21fd8313b274dbce3bb7f8b74588da1e3d
Remove `Magic-sdk` the only package https://github.com/CocoaPods/Specs/commit/dc2e10cee54e4784dcc16884dd1d100d8f7f5eec

Try to publish with the same name with capital letters, and here's what I get:

[code]

Could anyone help me to completely

[2020-03-18 10:11] Souro7 opened #280 "No email received for 'pod trunk register'"
Similar to: CocoaPods/CocoaPods#4306

Hi,

Recently we've been trying to register a machine with pod trunk register.

[code]

But no verification email was received.
Doing the same thing with a different email from the same domain, worked as expected.

Could you please check on your end and remove sachin_at_mobstac_dot_com from the bounce list? I think this is because the email id was disabled fro

[2020-03-23 06:16] Souro7 commented on #280
@dnkoutso Can you please help me with getting the email removed from the bounce list? Or advise me on how to reach out to the proper channel. We are really waiting on this to push an urgent release.

Thanks.

[2020-03-23 23:27] orta commented on #280
I've removed the bounce on that email 👍

[2020-03-23 23:27] #280 closed

[2020-03-23 23:29] orta commented on #275
It's not in any blocklist

[2020-03-23 23:30] orta commented on #279
We're open to well tested PRs which allow this to trunk

[2020-03-24 08:07] Souro7 commented on #280
Thanks! It works now.

[2020-04-01 06:49] Ethella commented on #279
@orta Sorry, I'm not clear about what feature is needed.

Please help me out, which feature shall I propose?
* Allow the owner to change the name of the package.
* Allow the owner to unpublish the package. Deregister the name from the database?

[2020-04-01 23:58] dave-pollock opened #281 "No email received for 'pod trunk register'"
I likely have the same problem as CocoaPods/CocoaPods#4306

We've been trying to register a machine with pod trunk register.

[code]
But no verification email was received.
Doing the same thing with a different email from the same domain, worked as expected.

It's likely you received bounces on this email in the past but we have now re-created the account.

Could you please check if the email ashl

[2020-04-14 02:07] dave-pollock commented on #281
@orta sorry for pinging you directly but based on https://github.com/CocoaPods/trunk.cocoapods.org/issues/280 it seems this is the best way to get this actioned. Appreciate any help you can provide. Thanks!

[2020-04-16 21:30] orta commented on #281
I got the dispute and added your email 👍 - feel free to re-open if it still needs doing

[2020-04-16 21:30] #281 closed

[2020-04-20 04:51] daveneff opened #282 "Cannot modify ownership after deleting all versions of a pod"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report
I'm running into an issue in trying to take over the name of an existing pod, `Coordinator`. I reached out to the original owner to delete the pod so I could use it instead, but now neither of us are able to modify owne

[2020-04-20 04:54] amorde commented on #282
Don't have any info to provide other than a guess this is a bug, unfortunately not super familiar with how the server portion of CocoaPods works

[2020-04-20 12:58] dave-w3w commented on #259
Any update on this issue?

[2020-04-20 13:07] orta commented on #259
No claims got through, the queue is empty. Looks like the original owner unpublished the pod. I'm happy to add a what3words email to it

[2020-04-20 15:47] dave-w3w commented on #259
Thanks!  Is there a way to send you the e-mail address without it appearing publicly on this thread?

[2020-04-20 22:15] orta commented on #259
We got this done 👍

[2020-04-20 22:15] #259 closed

[2020-04-20 22:20] orta commented on #279
I don't remember the original discussions anymore as it was 5-6 years ago when we made this, but I'd be OK with existing authors publishing new versions of pods with the same case when all packages have been unpublished.

I'm very wary of allowing any case changing in pods because we support the local file systems as a database and that's bound to break something somewhere.

[2020-05-14 09:26] siam-biswas opened #283 "still giving error "Not allowed to push new version of this pod" after delete from original owner"
Hello there ,

Recently i was trying to publish a new pod named "Storage" (https://github.com/siam-biswas/Storage) but found out that the name was owned by another user (nick.oneill@gmail.com).
I personally contact the current owner and he was agreed to delete the pod as it was not currently in use. After his deletion i checked with

`"$ pod trunk info Storage" `

and its showing

`"No pod found w

[2020-05-17 02:49] agungjk-okadoc opened #284 "Cant Register, An internal server error occurred"
Hi, guys
I try to register but always face this error.

opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established, protocol: TLSv1.2, cipher: ECDHE-RSA-AES128-GCM-SHA256
<- "POST /api/v1/sessions HTTP/1.1\r\nContent-Type: application/json; charset=utf-8\r\nAccept: application/json; charset=utf-8\r\nUser-Agent: CocoaPods/1.9.1\r\nAccept-Enco

[2020-05-18 10:28] v-sharaev commented on #284
Hi
I have some error too when register in new device

[2020-05-18 11:40] shagedorn commented on #284
We experience the same (also with our real email address, not Orta's).

[2020-05-18 14:37] wisselin commented on #284
We also experienced same issue.

P.S : with our real email address

[2020-05-18 16:10] dnkoutso commented on #284
Please try again we believe the issue was resolved. Will keep this open.

[2020-05-18 16:17] eladnava commented on #284
Works now, thanks! 💯 😄

[2020-05-18 16:19] dnkoutso commented on #284
Closing for now, will keep an eye out.

[2020-05-18 16:19] #284 closed

[2020-05-30 17:27] siam-biswas commented on #283
Anyone available to look at this issue ? Still on the same stage. I think the cache is not clearing for the deleted pod. Can anyone help me manually deleting the cache for the “Storage” ?

[2020-07-01 10:54] WanFangSong opened #286 "how to delete my project"
I push my project by pod trunk push
Now, I want delete my project, because it should be private.
What should I do now?

[2020-07-01 16:36] Steffen84 opened #287 "No email received for 'pod trunk'"
Similar to [#280](https://github.com/CocoaPods/trunk.cocoapods.org/issues/280
)

Hi,
Recently we've been trying to register a machine with pod trunk register.
But no verification email was received.

$ pod trunk register dev_at_quickpay_dot_net
[!] Please verify the session by clicking the link in the verification email that has been sent to dev_at_quickpay_dot_net

Doing the same thing with a dif

[2020-07-01 22:07] amorde commented on #286
You can use the `pod trunk delete` command to delete individual versions of a Pod 👍

[2020-07-01 22:07] #286 closed

[2020-07-06 08:14] Steffen84 commented on #287
@orta, sorry for tagging you directly but we have some urgent fixes we need to push out. Can you please enable the mail for this id dev@quickpay.net ?

Thanks

[2020-07-06 12:47] orta commented on #287
Cool, I've deleted the bounce - should go through fine now 👍

[2020-07-07 10:55] Steffen84 commented on #287
Thanks @orta that did the job :-)

[2020-08-27 01:05] ashokds opened #288 "No email received for 'pod trunk register' - v 1.9.3"
Similar to https://github.com/CocoaPods/trunk.cocoapods.org/issues/287

I have recently switched my work machine. Trying to re-register the session, and no email is being received.

Doing the same thing with a different email from the same domain, also didn't work.

Could you please remove `*@docusign.com` from the bounce list?

This is blocking our next release.

Thanks!

[2020-08-27 01:35] ashokds commented on #288
Hi @orta ,

Sorry to add you here directly, this is bit urgent and blocking the next release, could you please unblock `ashok[dot]meena[at]docusign.com` and domain `@docusign.com`.

The following request is made with latest `1.10.0-beta-2`.

[code]

Much appreciated.

[2020-08-27 14:35] NXSTinc opened #289 "Couldn't get the email"
Using CocoaPods 1.9.3

pod trunk register
[!] Please verify the session by clicking the link in the verification email that has been sent to technical@nxstinc.com

But I couldn't get the email.
And I registered my account a few years ago already.

[2020-09-04 19:29] #288 closed

[2020-09-10 17:06] swarup98 opened #290 "link sent to verify an account after doing `pod trunk register <email>` results in a 404"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

[!] Please verify the session by clicking the link in the verification email that has been sent to [email]

i then went to the email and clicked on the link sent to verify.  i got the below error o

[2020-09-10 17:06] dnkoutso commented on #290
Not sure what the issue is here but transferred to the right repo.

[2020-09-10 19:34] swarup98 commented on #290
hello, the issue here is that when I ask to reset the session the `Spreedly` pod, the link in the email does not work.  when you say transferred to the right repo, what exactly do you mean.  the current listed owners for the pod are no longer with the company and I need to transfer ownership to myself.

[2020-09-10 19:37] dnkoutso commented on #290
I meant I transferred your issue to https://github.com/CocoaPods/trunk.cocoapods.org/

[2020-09-24 16:01] jks277 opened #291 "I can not received verify email"
pod trunk register jiangfangsheng@baidu.com jiangfangsheng

I can not received the email

[2020-10-07 16:51] ahmetomernesim opened #292 "No email received for pod trunk register"
Hi,

i haven't received any mail after

pod trunk register ahmet.nesim@turkcell.com.tr 'Ahmet'

[2020-10-10 05:55] pvzig opened #293 "Missing verification email"
Hello,

I'm trying to register a new computer to push updates for [SlackKit](https://cocoapods.org/pods/SlackKit) but I'm not receiving verification emails for `peter@launchsoft.co`.

[code]

Wasn't quite sure where to file this, feel free to redirect.

Thanks,
Peter

[2020-10-11 01:22] pvzig commented on #293
Just tried again tonight and it worked.

[2020-10-11 01:22] #293 closed

[2020-10-14 05:42] CCSH opened #294 "'pod trunk register' Mail not received"
Hey team, thanks for your work.

I don't receive any email from pod trunk register 624089195@qq.com 'CCSH'. Am I in a blacklist or anything?

[2020-10-15 05:34] CCSH commented on #294
Hey team, thanks for your work.

I don't receive any email from pod trunk register 624089195@qq.com 'CCSH'. Am I in a blacklist or anything?

[2020-11-02 06:57] ahmetomernesim commented on #292
i have some urgent fixes who can help me please?

[2020-11-03 00:10] chrisballinger commented on #290
I am also seeing this issue for URLs like `https://trunk.cocoapods.org/sessions/verify/xxxxxxxx`:

<img width="1217" alt="Screen Shot 2020-11-02 at 4 06 52 PM" src="https://user-images.githubusercontent.com/518687/97932716-94a88680-1d25-11eb-97f5-39d37493914a.png">

The good thing is that the registration process works, it just looks like it doesn't. After visiting the (404ing) URL, the session in

[2020-11-03 01:09] chrisballinger commented on #290
I'm not sure if it's related, but I'm seeing this for registration URLs that have been mangled by an [Outlook's Safelinks](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/atp-safe-links?view=o365-worldwide)™ for Enterprise feature, so at first the URL looks like `https://nam01.safelinks.protection.outlook.com/blahblahblah` and then gets redirected. I haven't yet tried r

[2020-11-03 04:30] santilini opened #296 "Hi, i want to delete a cocoapod i uploaded and remove it from the database"
Hi, i am a new developer and Swift, and i am working on a Project for a client.

My client has his pod on CocoaPod, and trying to figure out how cocoapod worked i reuploaded it with another name. I would like to ask for the Pod to be deleted from the database, i already deprecated it, but it is still appearing on cocoapods site.

How shall i proceed?

[2020-11-20 13:43] ahmetomernesim commented on #292
@dnkoutso sorry for tagging you but i cannot find any way. Can you please help me, i can't upload new version for important fixes.

[2020-11-20 16:34] paulb777 commented on #292
Does the `--verbose` option help?  What about `pod trunk me`?

[2020-11-20 17:59] ahmetomernesim commented on #292
Pod trunk me: [!] Authentication token is invalid or unverified. Either verify it with the email that was sent or register a new session.

pod trunk push: [!] Authentication token is invalid or unverified. Either verify it with the email that was sent or register a new session.

pod trunk register ahmet.nesim@turkcell.com.tr 'Ahmet' --description='macbook pro'
[!] Please verify the session by clic

[2020-11-23 03:10] dlin-me commented on #294
Hey Tem, Also the same  for my email in work engineering@narratiive.com

Please help

[2020-11-24 12:08] ahmetomernesim commented on #292
Pod trunk me: [!] Authentication token is invalid or unverified. Either verify it with the email that was sent or register a new session.

pod trunk push: [!] Authentication token is invalid or unverified. Either verify it with the email that was sent or register a new session.

pod trunk register ahmet.nesim@turkcell.com.tr 'Ahmet' --description='macbook pro'
[!] Please verify the session by clic

[2020-11-26 08:46] ahmetomernesim commented on #292
Anyone can help me Please? i am really sorry for tagging all but i cant find anyway @alloy @amorde @benasher44 @endocrimes @esttorhe @fabiopelosin @floere @joe-loco @joshkalpin @k0nserv @keith @manuyavuz @mk @mrackwitz @mtitolo @neonichu @nwest @orta @paulb777 @segiddins

[2020-12-02 09:21] CCSH commented on #294
can someone help me solve this problem

[2020-12-03 09:16] ahmetomernesim commented on #292
Anyone can help me ? @alloy @amorde @benasher44 @endocrimes @esttorhe @fabiopelosin @floere @joe-loco @joshkalpin @k0nserv @keith @manuyavuz @mk @mrackwitz @mtitolo @neonichu @nwest @orta @paulb777 @segiddins

[2020-12-03 09:17] ahmetomernesim commented on #292
Anyone can help me ? @dnkoutso

[2020-12-03 12:28] alloy commented on #292
It may indeed be because of blacklisting. I see that that domain is blacklisted at least twice http://multirbl.valli.org/lookup/turkcell.com.tr.html

Do you have access to another email (domain) that you can try?

[2020-12-03 13:03] ahmetomernesim commented on #292
Thank you very much for response @alloy. The owner of Fastlogin pods are both in Turkcell domain. I can register with Gmail account. Can you add my gmail account to  Fastlogin pod? or can you remove Turkcell domin from blacklist?

Gmail: a.o.nesim@gmail.com
https://cocoapods.org/pods/FastLogin

[2020-12-03 13:21] alloy commented on #292
We cannot alter the blacklist, this is entirely on SendGrid’s and Turkcell’s site.

As for transferring ownership, can you please go through https://trunk.cocoapods.org/claims/new so the discussion can be had with the right people? It will get resolved that way, but may still take a bit of time, especially during this holiday season.

[2020-12-03 13:22] ahmetomernesim commented on #292
Thanks for help @alloy

[2021-01-12 15:58] paulb777 opened #297 "Pods fail to push when `code_coverage` is in test_spec scheme"
Add `    unit_tests.scheme = { :code_coverage => true }` to a test_spec. Example at https://github.com/firebase/firebase-ios-sdk/blob/release-7.4/GoogleUtilities.podspec#L119

Then
[code]

[2021-01-12 18:51] paulb777 commented on #297
Here is a smaller example that reproduces it for me:

[code]

[2021-01-13 01:10] segiddins commented on #297
What's the output of `pod env` from the CocoaPods you're pushing from?

[2021-01-13 02:07] paulb777 commented on #297
$ bundle exec pod env

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

[2021-01-13 17:33] paulb777 commented on #297
From debugging, I discovered that the `cocoapods-trunk` validation succeeds, but [the response from](https://github.com/CocoaPods/cocoapods-trunk/blob/master/lib/pod/command/trunk.rb#L30) `https://trunk.cocoapods.org/api/v1/pods?allow_warnings=false` has the error.
`
How do I check that the version running at `https://trunk.cocoapods.org` is the updated version with the 1.10.0 cocoapods-core depen

[2021-01-13 17:38] dnkoutso commented on #297
I have merged it here https://github.com/CocoaPods/trunk.cocoapods.org/pull/295, i wonder if its not deployed?

[2021-01-13 18:49] #297 closed

[2021-01-14 02:01] paulb777 commented on #297
Fixed by deploying the latest trunk from #295 today

[2021-01-29 03:57] Mario2016 opened #298 "How to delete my project"
Hi，
I push my project by 'pod trunk push'.
Now, I want to delete my project, because it is private.
I have deleted all versions by 'pod trunk delete', but i can still found the submitted by other branch.
How to delete the submitted record？
Its super urgent for me. Please help.

[2021-02-09 04:02] kakao-lucas opened #299 "Report"
### **What did you do?**
pod trunk push RxKakaoPartnerSDKTalk.podspec --allow-warnings --synchronous --verbose
--> success

pod trunk delete RxKakaoPartnerSDKTalk 2.4.0-beta.1
--> deleted

pod trunk push RxKakaoPartnerSDKTalk.podspec --allow-warnings --synchronous --verbose
--> error occurred. (show **Project that demonstrates the issue**)

pod trunk delete RxKakaoPartnerSDKTalk 2.4.0-beta.1
--> [

[2021-02-18 04:19] PaladinCrow commented on #284
This is happening again. Here is the verbose
`<- "POST /api/v1/sessions HTTP/1.1\r\nContent-Type: application/json; charset=utf-8\r\nAccept: application/json; charset=utf-8\r\nUser-Agent: CocoaPods/1.10.1\r\nAccept-Encoding: gzip;q=1.0,deflate;q=0.6,identity;q=0.3\r\nHost: trunk.cocoapods.org\r\nContent-Length: 72\r\n\r\n"
<- "{\"email\":\"redacted\",\"name\":\"redacted\",\"description\":null}"
->

[2021-02-18 13:22] dhavalSA opened #300 "trunk register failed in pod version 1.10.1"
# Report

## What did you do?
$ pod trunk register xxx@mydomain.com 'Dhaval S' --description='macbook pro'

## What did you expect to happen?

it should register my email id

## What happened instead?

getting error :
[!] An internal server error occurred. Please check for any known status issues at https://twitter.com/CocoaPods and try again later.
opening connection to trunk.cocoapods.org:443...

[2021-02-18 17:01] dnkoutso commented on #300
@dhavalSA can you try again, we believe we deployed a fix.

[2021-02-19 07:01] izabekz opened #301 "No email received for 'pod trunk register'"
My ex colleague left the company and he was the sole owner of some pods. Now, his account is deactivated and we can't add new owners, what can we do?

[2021-02-19 12:26] dhavalSA commented on #300
@dnkoutso it's working now . i am closing this issue .Thanks for the quick response

[2021-02-19 12:26] #300 closed

[2021-02-23 05:09] izabekz commented on #301
@dnkoutso @orta anyone pls help

[2021-02-24 04:11] izabekz commented on #301
@dnkoutso @orta can you guys pls check the blockList? This is crazy that I can't publish new versions of pods

[2021-02-25 08:39] C4Framework commented on #280
I'm getting the same behaviour, not receiving an email to:
info@createwithflow.com
Could you please check if there's a bounce on this email?

[2021-02-25 08:43] izabekz commented on #301
@orta @dnkoutso guys pls help

[2021-02-25 17:27] orta commented on #301
Alright, that should be removed from the bounce list 👍🏻

[2021-02-25 17:28] orta commented on #299
Yep, this is intentional, you can't delete and re-create a Pod

[2021-02-25 17:28] orta commented on #294
You were, it said your server rejected the email - I've removed it

[2021-02-26 05:02] izabekz commented on #301
Thanks very much!

[2021-02-26 05:02] #301 closed

[2021-03-01 05:24] CCSH commented on #294
It worked, thank you

[2021-03-01 05:24] #294 closed

[2021-03-03 21:19] dusan-juranovic opened #302 "Cocoapods removal"
Hi,

I have published two repos to Cocoapods trunk while testing this feature. I thought it's gonna be easy to just remove them, once I get the hang of the process involved. It appears not :)
Could you please remove references to FFiOSClientSDK and ff-ios-client-sdk. They were both on my GitHub account, but I have deleted them a while ago. Although you can see they both still reference my account

[2021-03-03 22:38] orta commented on #302
We don't do deletions for you, you can use the trunk commands to do that

[2021-03-04 13:15] #302 closed

[2021-04-01 10:42] orta commented on #168
I'm probably never going to look at this, so if there's no updates on this thread from someone else shipping a successful PR, then there's no point in bumping this thread

[2021-04-01 10:58] wuf810 commented on #168
@orta As someone else mentioned, if I knew how to fix it without breaking anything else, I would. That's why myself and others are asking the project team and experts to at least have a look.

If you actually mean that you don't know how to fix it also, then that is a different type of response.

[2021-04-01 11:02] orta commented on #168
No, I mean I'll probably never put the time in to look at the issue as it's generally unimportant to me and I don't want to spend my free time on it.

All open source is shared cultural heritage, you don't know how to do it right now - but anyone in this thread could learn how the site works and submit a PR if they wanted.

[2021-04-01 11:08] wuf810 commented on #168
That is fair enough. However your point about anyone "in the thread could learn", means, to me at least, that there should be no issue with people bumping the thread to inform others that it is still an issue for people.

However I would agree that there are ways to "bump" a thread :-)

[2021-04-23 08:15] vilanovi opened #306 ""Source code for your Pod was not accessible to CocoaPods Trunk" despite registering again in Trunk"
Hello @orta,

I'm attempting to deploy a new version of [my library](https://github.com/mobilejazz/harmony-swift), which is hosted in GitHub publicly.

I've seen [this note](https://blog.cocoapods.org/CocoaPods-Trunk-RCE/) about the need to re-registering again in Trunk in order to deploy new versions of pods, and this is what I have done.

Nevertheless, I still experience the same error when tryi

[2021-04-23 13:13] lawmicha commented on #306
I'm also seeing this issue when trying to release our public repo https://github.com/aws-amplify/aws-sdk-ios from CircleCI. We're running a python [script](https://github.com/aws-amplify/aws-sdk-ios/blob/main/CircleciScripts/cocoapods_release.py) that executes `pod trunk push AWSCore.podspec --allow-warnings -- syncrhonous`.

The output I get is along the lines of:
[code]

[2021-04-23 13:20] orta commented on #306
Likely fixed by https://github.com/CocoaPods/trunk.cocoapods.org/pull/307

[2021-04-23 13:32] orta commented on #306
Yep, I just deployed it

[2021-04-23 13:51] lawmicha commented on #306
@orta awesome, could you ping this issue when deployment has completed?

[2021-04-23 13:52] orta commented on #306
It was already deployed, so if you're seeing it - then the fix didn't work

[2021-04-23 13:57] lawmicha commented on #306
getting another error
[code]

will update with better formatting

[2021-04-23 14:17] vilanovi commented on #306
Thanks for checking it. The issue is not still solved as @lawmicha states. I have the same issue.

[2021-04-23 14:20] orta commented on #306
Cool, give it a re-try now 👍🏻

[2021-04-23 15:14] lawmicha commented on #306
Was able to get a few pods published, and failed on AWSDynamoDB
[code]

Looks like some transient heroku error.

Additional info, In our process, we made it pass a few pods
[code]

[2021-04-24 11:14] vilanovi commented on #306
Finally! Thanks everyone!

[2021-04-24 11:14] #306 closed

[2021-05-03 19:01] cazador4 opened #309 "No email received for 'pod trunk register'"
Hi,

Recently we've been trying to register a machine with pod trunk register.

email : juan.sanzone@mercadolibre.com

But no verification email was received.
Doing the same thing with a different email from the same domain, worked as expected.

is it possible to remove from blacklist @orta ?

Thanks!

[2021-05-04 16:17] scannillo opened #308 "`pod trunk push`: Authentication token no-longer working"
## Summary

Unexpected `Authentication token is invalid or unverified` errror on `pod trunk push` and `pod trunk me`. No email received to re-authenticate a new session.

## Details

The [Braintree Drop-In SDK ](https://github.com/braintree/braintree-ios-drop-in)was recently attempting to publish a version of our SDK to CocoaPods, and saw the following error on `pod trunk push` in both CI and loca

[2021-05-04 16:32] paulb777 commented on #308
Context at https://blog.cocoapods.org/CocoaPods-Trunk-RCE/ - although I can't help with why the register failed.

[2021-05-04 17:44] orta commented on #308
I don't see any braintree.com email requests for registering a new session in the email activity fwiw

[2021-05-04 17:59] cazador4 commented on #309
Do you know how can we recover the ownership of the pods? They (Juan, Eric and Esteban) are not belong to our organization anymore (Mercadolibre). I can get the ownership of the accounts but is not possible to get the verification link (I've already tried)

[2021-05-04 18:05] orta commented on #309
https://trunk.cocoapods.org/claims/new letting us know what new emails and pods etc

[2021-05-04 18:17] orta commented on #309
I added you to about 10 repos, (`pod trunk me` will show them) - I'd recommend adding to all of them a shared engineering email 👍🏻

[2021-05-04 18:17] #309 closed

[2021-05-04 20:25] scannillo commented on #308
I was able to trigger an email, after running `pod trunk register` a few times. Thank you @paulb777 !

[2021-05-04 20:25] #308 closed

[2021-05-04 22:17] cazador4 commented on #309
Hi, sorry for the confusion but I don't see any pod in my profile. We are planning to do what you are saying then if we can recover the ownership. My email is: daniel.dgoldberg@mercadolibre.com, can you please add me in the pods (MLCardForm, MLCardDrawer, etc.) ?

![image](https://user-images.githubusercontent.com/867465/117071922-1ba2df80-ad06-11eb-82ce-a2e0ff9e80da.png)

Ps: Another member of my

[2021-05-05 08:18] orta commented on #309
You registered the dispute as jonathan.scar... - not that email

[2021-05-05 16:08] cazador4 commented on #309
Great, Jonathan have already sent you an email.
Thanks for your help!

[2021-05-10 17:14] cazador4 commented on #309
Hi again @orta! Sorry for the spam but Jonathan have already sent you an email and He hasn't ownership of the repos we need it.
Can you please add him to this repos (https://cocoapods.org/pods/MLCardDrawer and https://cocoapods.org/pods/MLCardForm) ?

He has already sent the form.

We are blocked by this right now.

Thanks,
Daniel

[2021-05-11 13:57] orta commented on #309
Added, maybe that email went to my spam because I never saw it

[2021-05-11 15:18] cazador4 commented on #309
![giphy](https://user-images.githubusercontent.com/867465/117840998-03294c80-b253-11eb-8ac3-856e25aa997a.gif)

[2021-05-25 18:15] skytan4 commented on #284
This error is happening again:

 pod trunk register 'redacted' --verbose
opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established, protocol: TLSv1.2, cipher: ECDHE-RSA-AES128-GCM-SHA256
<- "POST /api/v1/sessions HTTP/1.1\r\nContent-Type: application/json; charset=utf-8\r\nAccept: application/json; charset=utf-8\r\nUser-Agent: CocoaPods/1.1

[2021-05-25 18:22] skytan4 opened #310 "Unable to create a new session"

[2021-05-25 18:23] skytan4 opened #311 "Unable to create a new session, 500 internal server error."
Below is the response I've been getting all day when trying to register a new session:

pod trunk register 'redacted' --verbose
opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established, protocol: TLSv1.2, cipher: ECDHE-RSA-AES128-GCM-SHA256
<- "POST /api/v1/sessions HTTP/1.1\r\nContent-Type: application/json; charset=utf-8\r\nAccept: appli

[2021-05-25 18:24] #310 closed

[2021-05-25 18:28] rdominic commented on #311
Experiencing the same problem here.

[2021-05-25 18:28] melty710 commented on #311
+1 also running into this today

[2021-05-25 18:35] Jantsen-T commented on #311
+1

[2021-05-25 18:41] clarachenhub commented on #311
+1

[2021-05-25 18:42] orta commented on #311
Looks like we hit the cap of emails sent in a month due to the changes to email when a pod gets shipped to owners.

Will look into how that's gonna cost us

[2021-05-25 18:48] skytan4 commented on #311
@orta Thanks for looking into this. In terms of publishing podspecs, do you feel this can be resolved shortly (within the day or so) or should we expect to wait until next month (June) in order to publish?

[2021-05-25 18:50] orta commented on #311
Call it a _should_ probably be unblocked now, I'm tailing the logs to keep track

[2021-05-25 18:52] orta commented on #311
OK, that's a no because that's triggered another problem. I'd scope it to a couple of hours at a guess.

[2021-05-25 19:08] orta commented on #311
Call it maybe an over-estimate, I got a successful registration email now, will monitor the thread but I think it's good

[2021-05-25 19:14] skytan4 commented on #311
It worked for me! Thanks for your quick response on this @orta !

[2021-05-25 19:15] orta commented on #311
Always worth my time to pop back for systemic issues

[2021-05-25 19:29] #311 closed

[2021-07-13 06:53] tmukammel commented on #287
@orta , Hi, Nice to meet you.
Would it be possible for you to help me regarding `pod trunk register`

[2021-09-03 10:13] xlith commented on #290
Yes, registration works but there is this issue. Even though registration works, we can not verify email accounts. So we can not add the user as an owner to any pod.

[2021-10-15 07:29] TruszczynskiA opened #319 "pod trunk register - No e-mail was sent."
I'm unable to register a session using `pod trunk register`.

* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Run `pod trunk register <email> '<name>' --description='<description>'`
Response: `[!] Please verify the session by clicking the link i

[2021-10-21 05:16] #319 closed, assigned to nobody

[2021-10-21 05:16] TruszczynskiA commented on #319
Solved by cocoapods team

[2021-11-17 23:11] neildhar opened #320 "Source code for latest version of Pod is not accessible to CocoaPods Trunk"
I've been trying to push the latest version of the pod `hermes-engine` for the last few days. ([podspec](https://github.com/facebook/hermes/blob/a725c6e9740ac1153f34dd0b20303df592ef50bd/hermes-engine.podspec))

Unfortunately, it keeps failing with the following output:
[code]

We've used the exact same command to push older versions of the pod, and have never seen this error. Has something changed

[2021-11-24 17:23] orta commented on #320
I don't think so - the checks for a http request hasn't changed in 7 years, and effectively asks the ruby stdlib to verify the  url. Perhaps GitHub was having issues? We've not had other reports around the http validation.

https://github.com/CocoaPods/trunk.cocoapods.org/commit/e157bf9f066b3e86018accc33aebc4a38f1407d1/app/models/specification_wrapper.rb#L73-L75

[2021-12-01 19:19] neildhar commented on #320
@orta thanks for taking a look, I tried a few more times over the course of a few days and it eventually seems to have mysteriously resolved itself.

[2021-12-01 19:19] #320 closed

[2022-01-06 12:23] NikKovIos opened #321 "How to remove not my public repo?"
I've noticed that one repo is outdated - https://cocoapods.org/pods/Stevia
And I want to take it namespace for https://cocoapods.org/pods/SteviaLayout
How to remove the outdated repo from cocoapods?

[2022-01-17 08:24] steve-ham opened #322 "Delete my project please."
It should be a private repository but got released to public.
May you guys remove 'LocationCocoaPod' please. Thanks.
I did all below 3 commands.
pod trunk delete LocationCocoaPod 1.1.0
pod trunk delete LocationCocoaPod.podspec
pod trunk deprecate LocationCocoaPod

[2022-01-17 08:43] steve-ham commented on #322
I came here by seeing this post. https://stackoverflow.com/questions/29604049/how-do-i-delete-my-public-cocoa-pods

[2022-01-18 01:43] #322 closed

[2022-02-02 18:23] GabiGrin opened #323 "pod trunk register - confirm session link not working"
hey! first, thanks for the great work on CocoaPods, highly appreciated 🙌

I'm trying to login via the CLI, using `pod trunk register gabrielg@wix.com`, and the verify links lead to
<img width="703" alt="Screen Shot 2022-02-02 at 20 22 13" src="https://user-images.githubusercontent.com/3727015/152214413-89be17f2-f4da-4cb9-a916-1b4d47977368.png">

Tried in a few hours difference and it didn't help
H

[2022-02-03 11:36] orta commented on #323
You likely have an email validator checking the links and accepting the session for you, it should be fine

[2022-02-03 12:00] GabiGrin commented on #323
@orta  thanks! that was indeed the case :)

[2022-02-03 12:00] #323 closed

[2022-03-22 17:56] #321 closed

[2022-03-23 08:28] NikKovIos commented on #321
@orta nothing about removing not owned repositories found there.

[2022-03-23 08:29] orta commented on #321
https://guides.cocoapods.org/terminal/commands.html#pod_trunk_delete

[2022-03-23 08:50] NikKovIos commented on #321
@orta 👆 ..about removing **not owned** repositories..

- `Stevia` is not my repo
- The github page for it is not found 404

[2022-03-23 08:56] orta commented on #321
Ah sure, did you ask the current owners for it? We don't really handle that because we dont know if it went pritate and is still in use etc

[2022-03-25 22:08] chetanvangadiTokbox opened #325 "pod trunk register - Internal Server Error"
Ran the command:

pod trunk register  'email_id' 'Name'
Got a link in my inbox that looked like:

https://trunk.cocoapods.org/sessions/verify/
Clicking the link let do a page with words 'Internal Server Error' and no other content. Refreshing the page had the same result.

[2022-03-28 16:13] kamerc commented on #325
I am experiencing the same issue. I tried more than once.

[2022-03-31 17:35] danielkmarks23 commented on #325
Still getting the same issue :-(

[2022-04-01 23:55] NikKovIos commented on #321
I've found that the maintainer is https://github.com/phelgo, but can't connect with him. Is there any functional to remove the repo it this case?

[2022-04-04 02:55] dannys42 commented on #325
I've got the same issue.

[2022-04-05 12:02] gutoglup commented on #325
@orta do you have any updates?

[2022-04-05 13:28] orta commented on #325
No updates, I don't have much time for OSS anymore, when I find the time I will take a look

[2022-04-19 09:47] ArunaYarra opened #345 "README.md from the git repo is not updated on cocoapods.org"
Hi,

I have published the new version with a README update but it is not updating in cocoapods.org.

Please help with what changes are required to do it.
My pod: https://cocoapods.org/pods/CAMobileAppAnalytics

FYI: I used **spec.readme** option in that **podspec** with GitHub readme file URL but now it is continuously loading the URL when we try to go to my pod.

[2022-09-09 18:07] heguanyu opened #395 "No verification email received upon registration"
Hi team,

I'm trying to register with this email address, lms-mid-pub-cocoapod-admin@linkedin.com

This is a group alias email, but I could confirmed that it is registered in public SMTP can receive external emails.

Can you help check if the verfication email was sent to this address properly?

Thank you very much!

-G

[2022-09-09 20:37] heguanyu commented on #395
$ pod trunk register lms-mid-pub-cocoapod-admin@linkedin.com --verbose
Ignoring ffi-1.15.4 because its extensions are not built. Try: gem pristine ffi --version 1.15.4
Ignoring digest-crc-0.6.4 because its extensions are not built. Try: gem pristine digest-crc --version 0.6.4
opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established, protoc

[2022-09-26 02:34] lengge opened #398 "No receive email for 'pod trunk register'"
Hi,

Recently we are going to update the pod on a new computer.

pod trunk register [xinyu.ma@payby.com](mailto:xinyu.ma@payby.com) 'xinyuma'
[!] Please verify the session by clicking the link in the verification email that has been sent to [xinyu.ma@payby.com](mailto:xinyu.ma@payby.com)

But no verification email was received.
Doing the same thing with a different email from the same computer, wo

[2022-09-27 02:50] lengge commented on #398
@orta Can you please enable the mail for this id [xinyu.ma@payby.com](mailto:xinyu.ma@payby.com) ?
We are not able to push updates and bug fixes because of this.
Thanks.

[2022-09-29 11:20] huahuaworld commented on #284
[!] An internal server error occurred. Please check for any known status issues at https://twitter.com/CocoaPods and try again later

[2022-09-30 07:00] gingerjin93 opened #401 "An internal server error occurred."
When I push my framework to CocoaPods, I got an error

Updating spec repo `trunk`
Validating podspec
 -> NECopyrightedMedia (1.3.0)
    - NOTE  | xcodebuild:  note: Using new build system
    - NOTE  | xcodebuild:  note: Using codesigning identity override: -
    - NOTE  | xcodebuild:  note: Build preparation complete
    - NOTE  | [iOS] xcodebuild:  note: Planning
    - NOTE  | [iOS] xcodebuild:

[2022-09-30 07:57] orta commented on #398
I've removed the bounce on that email, next one should go through

[2022-09-30 07:58] orta commented on #395
I've removed the bounce on that email, next one should go through

[2022-09-30 07:58] #395 closed

[2022-09-30 07:58] #398 closed

[2022-10-09 05:00] lengge commented on #398
@orta Hello, my mailbox still can't receive the mail

pod trunk register xinyu.ma@payby.com --verbose

opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established, protocol: TLSv1.2, cipher: ECDHE-RSA-AES128-GCM-SHA256
<- "POST /api/v1/sessions HTTP/1.1\r\nContent-Type: application/json; charset=utf-8\r\nAccept: application/json; charset=utf-

[2022-10-10 09:28] lengge opened #405 "No receive email for 'pod trunk register'"
@orta Hello, my mailbox still can't receive the mail, please take a look at it

pod trunk register [xinyu.ma@payby.com](mailto:xinyu.ma@payby.com) --verbose

opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established, protocol: TLSv1.2, cipher: ECDHE-RSA-AES128-GCM-SHA256
<- "POST /api/v1/sessions HTTP/1.1\r\nContent-Type: application/json;

[2022-10-18 02:13] lengge commented on #405
@orta Hello, I can't receive email, I hope you can help me, thank you

pod trunk register xinyu.ma@payby.com --verbose
opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established, protocol: TLSv1.2, cipher: ECDHE-RSA-AES128-GCM-SHA256
<- "POST /api/v1/sessions HTTP/1.1\r\nContent-Type: application/json; charset=utf-8\r\nAccept: application/js

[2022-11-25 11:46] MathieuMonney opened #417 "pod trunk register - no email received"
I'm trying to update some libraries I uploaded to trunk some time ago but I can't get the email to register a session to go through. I tried updating cocoapods to no avail.

I tried `pod trunk register mathieu@privately.eu 'Mathieu Monney' --description='mac desktop'` and other `@privately.eu` emails but none worked, using a gmail address instead I received the email and could start a session - no